<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ '//code.jquery.com/jquery-3.2.1.min.js' | script_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js' | script_tag }}

    {{ 'bootstrap.min.js' | asset_url | script_tag }}
    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}


    {{ 'application.scss.css' | asset_url | stylesheet_tag }}
    {{ 'application.js' | asset_url | script_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' | stylesheet_tag }}
    {{ content_for_header }} <!-- Header hook for plugins -->



</head>
<body>
{% section 'header' %}

  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <a href="/account">account</a>
      {{ 'log out'  | customer_logout_link }}
    {% else %}
      {{ 'log in ' | customer_login_link }}
      {{ 'register' | customer_register_link }}
    {% endif %}
  {% endif %}

  <main role="main">
        {{ content_for_layout }}
  </main>

{% section 'footer' %}
</body>
</html>
