<div id="fp" class="carousel carousel-featured slide page-width">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#fp" data-slide-to="0"  class="active"></li>
        <li data-target="#fp" data-slide-to="1"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner carousel-inner-featured">
        <div class="carousel-item active">
            <div class="container-fluid">
                <div class="row">
                    {% for product in collections.Featured.products limit:4 %}
                    <div class="col-xl-3 col-md-6 col-lg-6 featured-card-holder">
                        <div class="card h-100 featured-card">
                            <div class="wrapper">
                                <img class="card-img-top" src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
                            </div>
                            <div class="card-body text-center">
                                {% for collection in product.collections %}
                                    {% unless collection.title == 'Featured' %}
                                    <div class="card-collection-title-holder text-center">
                                        {{ collection.title }}
                                    </div>
                                    {% endunless %}
                                {% endfor %}
                                    <div class="card-title-holder text-center">
                                        <a href="{{ product.url | within: collection }}">
                                            <span>{{ product.title }}</span>
                                        </a>
                                    </div>
                              
                                    <div class="row card-text-holder text-center">
                                        <p class="card-text">
                                            {{ product.price | money }}
                                            {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
                                        </p>
                                    </div>

                                <div class="row text-center full-width card-footer-buttons">
                                    <div class="btn-group-sm">
                                        <button type="button" class="btn btn-primary card-footer-button-wish">
                                            <img src="{{ 'wishlist.svg' | asset_url }}" alt="Add to wishlist">
                                        </button>
                                        <button type="button" class="btn btn-primary card-footer-button-cart">
                                            <img src="{{ 'cart.svg' | asset_url }}" alt="Add to cart">
                                        </button>
                                    </div>
                            
                                </div>
                           
                            </div>
                        </div>
                    </div>
                    {% comment %} <div>
                        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                        {{ product.price | money }}
                        {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
                        <a href="{{ product.url | within: collection }}">
                        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
                        </a>
                    </div> {% endcomment %}
                    {% endfor %}
                </div>
              </div>
        </div>
        <div class="carousel-item">
            <div class="container-fluid">
                <div class="row">
                    {% for product in collections.Featured.products limit:4 %}
                    <div class="col-xl-3 col-md-6 col-lg-6 featured-card-holder">
                        <div class="card h-100 featured-card">
                            <div class="wrapper">
                                <img class="card-img-top" src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
                            </div>
                            <div class="card-body text-center">
                                {% for collection in product.collections %}
                                    {% unless collection.title == 'Featured' %}
                                    <div class="card-collection-title-holder text-center">
                                        {{ collection.title }}
                                    </div>
                                    {% endunless %}
                                {% endfor %}
                                    <div class="card-title-holder text-center">
                                        <a href="{{ product.url | within: collection }}">
                                            <span>{{ product.title }}</span>
                                        </a>
                                    </div>
                              
                                    <div class="row card-text-holder text-center">
                                        <p class="card-text">
                                            {{ product.price | money }}
                                            {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
                                        </p>
                                    </div>

                                <div class="row text-center full-width card-footer-buttons">
                                    <div class="btn-group-sm">
                                        <button type="button" class="btn btn-primary card-footer-button-wish">
                                            <img src="{{ 'wishlist.svg' | asset_url }}" alt="Add to wishlist">
                                        </button>
                                        <button type="button" class="btn btn-primary card-footer-button-cart">
                                            <img src="{{ 'cart.svg' | asset_url }}" alt="Add to cart">
                                        </button>
                                    </div>
                            
                                </div>
                           
                            </div>
                        </div>
                    </div>
                    {% comment %} <div>
                        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                        {{ product.price | money }}
                        {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
                        <a href="{{ product.url | within: collection }}">
                        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
                        </a>
                    </div> {% endcomment %}
                    {% endfor %}
                </div>
              </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#fp" data-slide="prev">
        <div id="Group_33" class="ft-prev-icon">
            <div id="Group_31_qw">
                <div id="Group_30_qx">
                    <svg class="Path_248_qy" viewBox="402.195 301.297 8.561 18">
                        <path fill="rgba(0,0,0,0)" stroke="rgba(191,144,77,1)" stroke-width="2px" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Path_248_qy" d="M 410.7560424804688 301.296875 L 402.1954650878906 310.3510437011719 L 410.6947326660156 319.296875">
                        </path>
                    </svg>
                </div>
                <svg class="Line_1_qz" viewBox="0 0 24.907 2">
                    <path fill="transparent" stroke="rgba(191,144,77,1)" stroke-width="2px" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Line_1_qz" d="M 0 0 L 24.90670967102051 0">
                    </path>
                </svg>
            </div>
        </div>
    </a>
    <a class="carousel-control-next" href="#fp" data-slide="next">
        <div id="Group_32" class="ft-next-icon">
            <div id="Group_31">
                <div id="Group_30">
                    <svg class="Path_248" viewBox="402.195 301.297 8.561 18">
                        <path fill="rgba(0,0,0,0)" stroke="rgba(191,144,77,1)" stroke-width="2px" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Path_248" d="M 402.1954956054688 301.296875 L 410.7560729980469 310.3510437011719 L 402.2568054199219 319.296875">
                        </path>
                    </svg>
                </div>
                <svg class="Line_1" viewBox="0 0 24.907 2">
                    <path fill="transparent" stroke="rgba(191,144,77,1)" stroke-width="2px" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Line_1" d="M 24.90670967102051 0 L 0 0">
                    </path>
                </svg>
            </div>
        </div>
    </a>

</div>

<div id="view-more" class="container-fluid">
    <div class="row view-more-holder">
        <button class="btn btn-outline-primary">
            VIEW MORE
        </button>
    </div>

</div>

{% schema %}
    {
        "name": "Featured Slideshow"
    }
{% endschema %}