
<div class="footer-holder">
	<div class="pre-footer">
        <svg class="Rectangle_25">
            <rect fill="rgba(41,70,52,1)" id="Rectangle_25" rx="0" ry="0" x="0" y="0" width="100%" height="100%">
            </rect>
        </svg>
        <div class="consult-holder">
            <span class="consult-text">
                Feel free to have contact us for <span class="consult-text-bold">free consultation</span>.
            </span>
      
        </div>
    </div>
    <div class="main-footer">
        <div class="main-footer-content container-fluid">
            <div class="row row-content">
                <div class="col-lg-3">
                    <div class="footer-logo-holder">
                        <img src="{{ 'navbar_logo.png' | asset_url }}" alt="Logo" id="logo" class="footer-logo">
                    </div>
                    <div class="footer-logo-title">
                        FOLLOW US <a><i class="fa fa-twitter"></i></a> <a><i class="fa fa-facebook"></i></a> <a><i class="fa fa-instagram"></i></a>
                    </div>
                 
                </div>
                <div class="offset-lg-1 col-lg-2">
                    <div class="content-title">
                        Get in touch with us
                    </div>

                    <div>
                        <ul class="list-group list-group-flush content-list">
                            <li class="list-group-item">
                                7030 Ang Mo Kio Avenue 5 #01  05/06 Northstar@AMK Singapore 569880
                            </li>
                            <li class="list-group-item">
                                62838495
                            </li>
                            <li class="list-group-item">
                                lipplastic@gmail.com
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="content-title">
                        Sitemap
                    </div>

                    <div>
                        <ul class="list-group list-group-flush content-list">
                            <li class="list-group-item">
                                Home
                            </li>
                            <li class="list-group-item">
                               About Us
                            </li>
                            <li class="list-group-item">
                                Testimonials
                            </li>
                            <li class="list-group-item">
                                Our Products
                            </li>
                            <li class="list-group-item">
                                Contact Us
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="content-title">
                        My Account
                    </div>

                    <div>
                        <ul class="list-group list-group-flush content-list">
                            <li class="list-group-item">
                                Login / Register
                            </li>
                            <li class="list-group-item">
                                My Profile
                            </li>
                            <li class="list-group-item">
                                My Wishlist
                            </li>
                            <li class="list-group-item">
                                My Inquiry List
                            </li>
                            <li class="list-group-item">
                                My Shopping cart
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="content-title">
                        Information
                    </div>

                    <div>
                        <ul class="list-group list-group-flush content-list">
                            <li class="list-group-item">
                                Payment Method
                            </li>
                            <li class="list-group-item">
                                Shipping
                            </li>
                            <li class="list-group-item">
                                Returns
                            </li>
                            <li class="list-group-item">
                                Privacy Policy
                            </li>
                            <li class="list-group-item">
                                Terms & Conditions
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="main-footer-mini">
        <div class="main-footer-mini-content container-fluid">
            <div class="row row-content-mini">
        
                    <div class="footer-logo-holder">
                        <img src="{{ 'navbar_logo.png' | asset_url }}" alt="Logo" id="logo" class="footer-logo">
                        <a><i class="fa fa-twitter"></i>  </a> <a><i class="fa fa-facebook"></i></a>  <a><i class="fa fa-instagram"></i></a>
                    </div>
            
            </div>
        </div>
    </div>

    <div class="payment-footer">
        <div class="payment-footer-content">
                <span class="copyright-text">Copyright © 2020 Lip Plastic Enterprise Pte Ltd. All rights reserved.</span>
                <img id="payment" class="payment-images" src="{{ 'payment.png' | asset_url }}" srcset="{{ 'payment.png' | asset_url }} 1x, {{ 'payment@2x.png' | asset_url }} 2x">
        </div>
    </div>

    <div class="payment-footer-mini">
        <div class="payment-footer-mini-content">
       
                <span class="copyright-text">Copyright © 2020 Lip Plastic Enterprise Pte Ltd. All rights reserved.</span>
     
                <img id="payment" class="payment-images" src="{{ 'payment.png' | asset_url }}" srcset="{{ 'payment.png' | asset_url }} 1x, {{ 'payment@2x.png' | asset_url }} 2x">
              
        </div>
    </div>
</div>






{% schema %}
    {
        "name": "Footer"
    }
{% endschema %}