<div class="container">
        <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
        
                <!-- Modal Header -->
                <div class="modal-header">
                <h4 class="modal-title">Search for</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
        
                <!-- Modal body -->
                <div class="modal-body">
                    <form class="search-modal-form" action="{{ routes.search_url }}" method="get" role="search">
                        <div class="form-row">
                            <div class="col-12">
                                <div class="input-group">
                                    <input
                                    type="text"
                                    name="q"
                                    role="combobox"
                                    class="search-modal-form-input form-control"
                                    />
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
        
                <!-- Modal footer -->
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
        
            </div>
        </div>
    </div>
    <nav class="navbar fixed-top navbar-expand-md prenav">
     
            <span class="navbar-text prenav-text collapse navbar-collapse">
                Free Shipping for order $50 and above (Singapore Only)
            </span>
    
              <!-- Toggler/collapsibe Button -->
            {% comment %} <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsiblePreNav" aria-expanded="false" aria-controls="collapsiblePreNav">
                <span><i class="fa fa-chevron-down"></i></span>
            </button> {% endcomment %}
    
            <div class="collapse navbar-collapse" id="collapsiblePreNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal"  data-target="#myModal">
                            <i class="fa fa-search"></i> Search
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <i class="fa fa-heart"></i> Wishlist
                        </a>
                    </li>

                    <!-- {% for link in linklists.sub-menu.links %}
                    {% assign child_list_handle = link.title | handleize %}
                    {% if linklists[child_list_handle].links != blank %}
                    <li class="nav-item">
                    <a class="nav-link" href="{{ link.url }}">
                    <i class="fa fa-search"></i>{{ link.title }}</a>
                    </li>
                
                    [{% for childlink in linklists[child_list_handle].links %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                        </li>
                    {% endfor %}]
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ link.url }}">
                        {% if link.url == "/search"%}
                        <i class="fa fa-search"></i>
                        {% elsif link.url =="/pages/wishlist"%}
                        <i class="fa fa-heart"></i>
                        {% endif %}
                        {{ link.title }}</a>
                    </li>
                    {% endif %}
                    {% endfor %} -->
                </ul>
            </div>
    
    </nav>
    <nav class="navbar fixed-top navbar-expand-md mainnav">
     
        <a class="navbar-brand" href="#">
            <img src="{{ 'navbar_logo.png' | asset_url }}" alt="Logo" id="logo" class="logo_image">
        </a>
    
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#collapsibleMainNav" aria-expanded="false" aria-controls="collapsibleMainNav">
                <span><i class="fa fa-chevron-down"></i></span>
        </button>
    
        <div class="collapse navbar-collapse" id="collapsibleMainNav">
        <ul class="navbar-nav">

            {% for link in linklists.main-menu.links %}
            {% assign child_list_handle = link.title | handleize %}
            {% if linklists[child_list_handle].links != blank %}
            <li class="nav-item">
               <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
            </li>
         
            [{% for childlink in linklists[child_list_handle].links %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                </li>
            {% endfor %}]
            {% else %}
                
                {% if link.active %}
                <li class="nav-item active">
                    {% if link.url == "/collections/all"%}
                        <a id="toCategories" class="nav-link mx-auto">{{link.title}}</a>
                    {% else %}
                        <a class="nav-link mx-auto" href="{{ link.url }}">{{ link.title }}</a>
                    {% endif %}
                </li>
                {% else %}
                <li class="nav-item">
                    {% if link.url == "/collections/all"%}
                        <a id="toCategories" class="nav-link mx-auto">{{link.title}}</a>
                    {% else %}
                        <a class="nav-link mx-auto" href="{{ link.url }}">{{ link.title }}</a>
                    {% endif %}
                </li>
                {% endif %}
            {% endif %}
            {% endfor %}
    
            <li class="nav-item d-md-none">
                <a class="nav-link" href="/cart">Cart</a>
            </li>
    
            
                <ul class="navbar-nav d-md-none d-lg-none">

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal"  data-target="#myModal">
                            <i class="fa fa-search"></i> Search
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <i class="fa fa-heart"></i> Wishlist
                        </a>
                    </li>

                    <!-- {% for link in linklists.sub-menu.links %}
                    {% assign child_list_handle = link.title | handleize %}
                    {% if linklists[child_list_handle].links != blank %}
                    <li class="nav-item">
                    <a class="nav-link" href="{{ link.url }}">
                    <i class="fa fa-search"></i>{{ link.title }}</a>
                    </li>
                
                    [{% for childlink in linklists[child_list_handle].links %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                        </li>
                    {% endfor %}]
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ link.url }}">
                        {% if link.url == "/search"%}
                        <i class="fa fa-search"></i>
                        {% elsif link.url =="/pages/wishlist"%}
                        <i class="fa fa-heart"></i>
                        {% endif %}
                        {{ link.title }}</a>
                    </li>
                    {% endif %}
                    {% endfor %} -->
                </ul>
            

    
        </ul>
        </div>

    
        <div class="navbar-nav btn-group-nav btn-group collapse navbar-collapse ml-auto">
     
            <div class="ml-auto" id="Group_45">
                <svg class="Path_261" viewBox="365.051 797.281 30.826 31.06">
                    <path fill="rgba(0,0,0,0)" stroke="rgba(51,51,51,1)" stroke-width="2px" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Path_261" d="M 395.525634765625 825.6341552734375 C 395.7455444335938 825.2288818359375 395.876953125 824.7932739257813 395.876953125 824.3602905273438 C 395.876953125 823.8258056640625 395.6976623535156 823.3665161132813 395.3628845214844 823.0330200195313 L 390.9426879882813 818.6107177734375 C 390.6083374023438 818.278564453125 390.13671875 818.0946655273438 389.6146850585938 818.0946655273438 C 389.1815490722656 818.0946655273438 388.7460021972656 818.226806640625 388.3383178710938 818.4484252929688 L 388.3179931640625 818.428955078125 L 388.2709655761719 818.486572265625 C 388.0277099609375 818.627685546875 387.7933349609375 818.791259765625 387.5865783691406 819.0005493164063 L 386.9908142089844 820.067626953125 L 386.9776306152344 820.0831909179688 C 386.4962158203125 820.5464477539063 385.0733032226563 821.5918579101563 384.4007873535156 821.5918579101563 C 383.70751953125 821.5918579101563 383.0579223632813 821.3248291015625 382.5718688964844 820.8388671875 L 372.32666015625 810.5911865234375 C 371.8402099609375 810.107177734375 371.5732727050781 809.4601440429688 371.5707397460938 808.773193359375 C 371.5707397460938 808.0811767578125 372.6368713378906 806.6629638671875 373.1000366210938 806.1781616210938 L 374.233154296875 805.642578125 C 374.8001403808594 805.0747680664063 375.124755859375 804.3408203125 375.124755859375 803.6264038085938 C 375.124755859375 803.08984375 374.93701171875 802.6072387695313 374.5975952148438 802.2694091796875 L 370.1392822265625 797.8128051757813 C 369.7986145019531 797.469970703125 369.3188781738281 797.281005859375 368.7870788574219 797.281005859375 C 368.3561401367188 797.281005859375 367.9234313964844 797.4110717773438 367.5179443359375 797.630126953125 L 367.4971313476563 797.6106567382813 L 367.4513549804688 797.6674194335938 C 367.2085876464844 797.806884765625 366.9729614257813 797.970458984375 366.7623596191406 798.1797485351563 L 366.1885986328125 799.2674560546875 C 364.7686157226563 801.2659912109375 364.5160217285156 806.6027221679688 366.3699645996094 810.6343383789063 C 366.6165771484375 811.1539306640625 368.8904724121094 815.8267211914063 372.8343505859375 819.7692260742188 C 376.1426086425781 823.0814208984375 380.3678894042969 825.5933227539063 381.9269104003906 826.4667358398438 L 381.9269104003906 826.5197143554688 L 382.5476989746094 826.8037109375 C 384.7711181640625 827.8235473632813 386.9364929199219 828.34130859375 388.9819641113281 828.34130859375 C 391.6274719238281 828.34130859375 393.2072448730469 827.4795532226563 393.9026184082031 826.9802856445313 L 394.9781188964844 826.3848876953125 C 395.177734375 826.1875 395.3340759277344 825.9628295898438 395.4713745117188 825.7315673828125 L 395.5556945800781 825.6641235351563 L 395.525634765625 825.6341552734375 Z">
                    </path>
                </svg>
                <svg class="Path_262" viewBox="404.589 813.413 7.129 7.155">
                    <path fill="rgba(0,0,0,0)" stroke="rgba(51,51,51,1)" stroke-width="2px" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Path_262" d="M 404.5890502929688 813.560302734375 C 406.4811096191406 813.1318969726563 408.5443725585938 813.6383056640625 410.0194396972656 815.1133422851563 C 411.5004577636719 816.5932006835938 412.0047607421875 818.6682739257813 411.5653381347656 820.5680541992188">
                    </path>
                </svg>
                <svg class="Path_263" viewBox="404.589 803.24 11.442 11.466">
                    <path fill="rgba(0,0,0,0)" stroke="rgba(51,51,51,1)" stroke-width="2px" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Path_263" d="M 415.94482421875 814.7054443359375 C 416.3368225097656 811.68359375 415.3867492675781 808.5181884765625 413.0692138671875 806.1997680664063 C 410.7593383789063 803.8899536132813 407.6036376953125 802.9369506835938 404.5890502929688 803.3234252929688">
                    </path>
                </svg>
            </div>
            <div id="CallUs">
                <span class="call_us_now">Call Us Now</span>
                <span class="call_number">+65 6283 8495</span>
            </div>

            <button class="btn btn-primary nav-full-btn btn-list">
                <img src="{{ 'wishlist.svg' | asset_url }}" alt="Add to wishlist">
            </button>
            <button class="btn btn-primary nav-full-btn btn-cart">
                <a href="/cart">
                        <img src="{{ 'cart.svg' | asset_url }}" alt="Add to cart"><span class="badge badge-light">{{ cart.item_count }}</span>
                </a>
            </button>
        </div>
    
    </nav>
</div>




{% schema %}
    {
        "name": "Header"
    }
{% endschema %}