<div id="jumbot" class="carousel carousel-cover slide mb-4">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#jumbot" data-slide-to="0" class="active"></li>
        <li data-target="#jumbot" data-slide-to="1"></li>
        <li data-target="#jumbot" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner carousel-inner-cover">
        <div class="carousel-item  active">
            <img src="{{ 'jumbotron_img.png' | asset_url }}" alt="Logo">
            <div class="row vertical-off-center">
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                        <h1 class="display-1 display-text d-none d-xl-block">Disposable and Ecofriendly Products</h1>
                        <h1 class="display-3 display-text d-none d-lg-block d-xl-none">Disposable and Ecofriendly Products</h1>
                        <h4 class="display-4 display-text d-none d-md-block d-lg-none">Disposable and Ecofriendly Products</h4>        
                        <h4 class="display-4 display-text d-none d-sm-block d-md-none">Disposable and Ecofriendly Products</h4>
                        <h4 class="d-block d-sm-none">Disposable and Ecofriendly Products</h4>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    
                    </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ 'jumbotron_img.png' | asset_url }}" alt="Logo">
                <div class="row vertical-off-center">
                    <div class="col-md-8">
                        <h1 class="display-1 display-text d-none d-xl-block">Affordable Prices</h1>
                        <h1 class="display-3 display-text d-none d-lg-block d-xl-none">Affordable Prices</h1>
                        <h4 class="display-4 display-text d-none d-md-block d-lg-none">Affordable Prices</h4>        
                        <h4 class="display-4 display-text d-none d-sm-block d-md-none">Affordable Prices</h4>
                        <h4 class="d-block d-sm-none">Affordable Prices</h4>
                    </div>
                    <div class="col-md-4">
                    
                    </div>
                </div>
        </div>
        <div class="carousel-item">
        <img src="{{ 'jumbotron_img.png' | asset_url }}" alt="Logo">
            <div class="row vertical-off-center">
                    <div class="col-md-8">
                        <h1 class="display-1 display-text d-none d-xl-block">Free Shipping Nationwide</h1>
                        <h1 class="display-3 display-text d-none d-lg-block d-xl-none">Free Shipping Nationwide</h1>
                        <h4 class="display-4 display-text d-none d-md-block d-lg-none">Free Shipping Nationwide</h4>        
                        <h4 class="display-4 display-text d-none d-sm-block d-md-none">Free Shipping Nationwide</h4>
                        <h4 class="d-block d-sm-none">Free Shipping Nationwide</h4>
                    </div>
                    <div class="col-md-4">
                    
                    </div>
            </div>
        </div>
        <div class="row row-learn-more full-width">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
          
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <button class="btn btn-primary btn-learn-more">
                    LEARN MORE
                </button>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#jumbot" data-slide="prev">
        <div id="Group_33">
            <div id="Group_31_qw">
                <div id="Group_30_qx">
                    <svg class="Path_248_qy" viewBox="402.195 301.297 8.561 18">
                        <path fill="rgba(0,0,0,0)" stroke="rgba(255,255,255, 0.9)" stroke-width="2px" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Path_248_qy" d="M 410.7560424804688 301.296875 L 402.1954650878906 310.3510437011719 L 410.6947326660156 319.296875">
                        </path>
                    </svg>
                </div>
                <svg class="Line_1_qz" viewBox="0 0 24.907 2">
                    <path fill="transparent" stroke="rgba(255,255,255, 0.9)" stroke-width="2px" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Line_1_qz" d="M 0 0 L 24.90670967102051 0">
                    </path>
                </svg>
            </div>
        </div>
    </a>
    <a class="carousel-control-next" href="#jumbot" data-slide="next">
        <div id="Group_32">
            <div id="Group_31">
                <div id="Group_30">
                    <svg class="Path_248" viewBox="402.195 301.297 8.561 18">
                        <path fill="rgba(0,0,0,0)" stroke="rgba(255,255,255, 0.9)" stroke-width="2px" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Path_248" d="M 402.1954956054688 301.296875 L 410.7560729980469 310.3510437011719 L 402.2568054199219 319.296875">
                        </path>
                    </svg>
                </div>
                <svg class="Line_1" viewBox="0 0 24.907 2">
                    <path fill="transparent" stroke="rgba(255,255,255, 0.9)" stroke-width="2px" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" shape-rendering="auto" id="Line_1" d="M 24.90670967102051 0 L 0 0">
                    </path>
                </svg>
            </div>
        </div>
    </a>

</div>


{% schema %}
    {
        "name": "Homepage Cover"
    }
{% endschema %}