<!-- <div class="category-wrapper">
    <div class="image-holdertest col-sm-8 col-md-8">
        <img class="pcimg" src="{{ 'product_categories_img.svg' | asset_url }}">
    </div>
    <div class="categories-holdertest col-sm-4 col-md-4">

    </div>
 
</div> -->



    <div id="categories" class="row product-categories-holder">
        <div id="image-holder" class="image-holder col-md-8">
            <img id="pcimg" class="pcimg" src="{{ 'product_categories_img.svg' | asset_url }}" onload="changeCategoryHolderHeight()">
        </div>
        <div id="categories-holder" class="categories-holder col-md-4">
            <div class="categories-title">
                <span>
                    Product Categories
                </span>
            </div>
            <div class="categories-list">
                <ul class="list-group list-group-flush">
                    {% for collection in collections %}
                        {% unless collection.title == 'Featured' %}
                            <li class="list-group-item">
                                <a href="{{ collection.url }}">
                                {{ collection.title }}
                                </a>
                            </li>
                        {% endunless %}
                    {% endfor %}

                    <!-- <li class="list-group-item btn-item">
                        <button class="btn btn-primary btn-view-all">
                            VIEW ALL PRODUCTS
                        </button>
                    </li> -->
                </ul>
            </div>

            <div class="categories-view-all">
                <button id="view-all-products" class="btn btn-primary btn-view-all">
                    VIEW ALL PRODUCTS
                </button>
            </div>
        </div>
    </div>

    <div class="row product-categories-holder-mini">
        <div class="categories-holder-mini col-sm-12 col-md-12">
            <div class="categories-title-mini">
                <span>
                    Product Categories
                </span>
            </div>
            <div class="categories-list-mini">
                <ul class="list-group list-group-flush">
                    {% for collection in collections %}
                        {% unless collection.title == 'Featured' %}
                            <li class="list-group-item">
                                <a href="{{ collection.url }}">
                                {{ collection.title }}
                                </a>
                            </li>
                        {% endunless %}
                    {% endfor %}

                    <!-- <li class="list-group-item btn-item">
                        <button class="btn btn-primary btn-view-all">
                            VIEW ALL PRODUCTS
                        </button>
                    </li> -->
                </ul>
            </div>

            <div class="categories-view-all-mini">
                <button class="btn btn-primary btn-view-all">
                    VIEW ALL PRODUCTS
                </button>
            </div>
        </div>
    </div>



{% schema %}
{
    "name": "Product Categories"
}
{% endschema %}