
<div class="reviews-slideshow-holder">

    <div class="reviews-title-holder">
        <div class="reviews-title">
            <span>
                What They Say About Us
            </span>
        </div>
        <div class="btn-group btn-group-lg">
            <button type="button" class="btn btn-primary btn-prev" id="slideBack">
                <img src="{{ 'prev.svg' | asset_url }}" alt="">
            </button>
            <button type="button" class="btn btn-primary btn-next" id="slide">
                <img src="{{ 'next.svg' | asset_url }}" alt="">
            </button>
          </div>
    </div>

    <div class="reviews-content-holder">
        <div class="scrolling-wrapper row flex-row flex-nowrap" id="reviews-slide">
			<div class="col-4 review-card-holder">
                <div class="card review-card">
                    <img class="card-img-top" src="{{ 'maryan.svg' | asset_url }}" alt="">
                    <img class="card-img-top-quote" src="{{ 'quote.svg' | asset_url }}" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            <span>Maryan Semana</span>
                        </div>
                        <div class="card-subtitle">
                            <span>03 February 2020</span>
                        </div>
                        <div class="card-text">
                            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque labore asperiores alias perferendis laboriosam. Harum quas nisi illum exercitationem voluptatibus, magni consectetur cumque suscipit excepturi dolores autem. Provident, nam doloribus.</p>
                        </div>
                    </div>
                  </div>
			</div>
			<div class="col-4 review-card-holder">
                <div class="card review-card">
                    <img class="card-img-top" src="{{ 'celine.svg' | asset_url }}" alt="">
                    <img class="card-img-top-quote" src="{{ 'quote.svg' | asset_url }}" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            <span>Celine Li</span>
                        </div>
                        <div class="card-subtitle">
                            <span>26 January 2020</span>
                        </div>
                        <div class="card-text">
                            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque labore asperiores alias perferendis laboriosam. Harum quas nisi illum exercitationem voluptatibus, magni consectetur cumque suscipit excepturi dolores autem. Provident, nam doloribus.</p>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-4 review-card-holder">
                <div class="card review-card">
                    <img class="card-img-top" src="{{ 'anthony.svg' | asset_url }}" alt="">
                    <img class="card-img-top-quote" src="{{ 'quote.svg' | asset_url }}" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            <span>Anthony Wong</span>
                        </div>
                        <div class="card-subtitle">
                            <span>26 January 2020</span>
                        </div>
                        <div class="card-text">
                            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque labore asperiores alias perferendis laboriosam. Harum quas nisi illum exercitationem voluptatibus, magni consectetur cumque suscipit excepturi dolores autem. Provident, nam doloribus.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 review-card-holder">
                <div class="card review-card">
                    <img class="card-img-top" src="{{ 'maryan.svg' | asset_url }}" alt="">
                    <img class="card-img-top-quote" src="{{ 'quote.svg' | asset_url }}" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            <span>Maryan Semana</span>
                        </div>
                        <div class="card-subtitle">
                            <span>03 February 2020</span>
                        </div>
                        <div class="card-text">
                            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque labore asperiores alias perferendis laboriosam. Harum quas nisi illum exercitationem voluptatibus, magni consectetur cumque suscipit excepturi dolores autem. Provident, nam doloribus.</p>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-4 review-card-holder">
                <div class="card review-card">
                    <img class="card-img-top" src="{{ 'celine.svg' | asset_url }}" alt="">
                    <img class="card-img-top-quote" src="{{ 'quote.svg' | asset_url }}" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            <span>Celine Li</span>
                        </div>
                        <div class="card-subtitle">
                            <span>26 January 2020</span>
                        </div>
                        <div class="card-text">
                            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque labore asperiores alias perferendis laboriosam. Harum quas nisi illum exercitationem voluptatibus, magni consectetur cumque suscipit excepturi dolores autem. Provident, nam doloribus.</p>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-4 review-card-holder">
                <div class="card review-card">
                    <img class="card-img-top" src="{{ 'anthony.svg' | asset_url }}" alt="">
                    <img class="card-img-top-quote" src="{{ 'quote.svg' | asset_url }}" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            <span>Anthony Wong</span>
                        </div>
                        <div class="card-subtitle">
                            <span>26 January 2020</span>
                        </div>
                        <div class="card-text">
                            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque labore asperiores alias perferendis laboriosam. Harum quas nisi illum exercitationem voluptatibus, magni consectetur cumque suscipit excepturi dolores autem. Provident, nam doloribus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


    <div class="reviews-title-holder-mini">
        <div class="reviews-title-mini">
            <span>
                What They Say About Us
            </span>
        </div>
        <div class="btn-group btn-group-lg">
            <button type="button" class="btn btn-primary btn-prev" id="slideBackMini">
                <img src="{{ 'prev.svg' | asset_url }}" alt="">
            </button>
            <button type="button" class="btn btn-primary btn-next" id="slideMini">
                <img src="{{ 'next.svg' | asset_url }}" alt="">
            </button>
        </div>
    </div>

    <div class="reviews-content-holder-mini">
        <div class="scrolling-wrapper row flex-row flex-nowrap" id="reviews-slide-mini">
			<div class="col-4 review-card-holder-mini">
                <div class="card review-card">
                    <img class="card-img-top" src="{{ 'maryan.svg' | asset_url }}" alt="">
                    <img class="card-img-top-quote" src="{{ 'quote.svg' | asset_url }}" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            <span>Maryan Semana</span>
                        </div>
                        <div class="card-subtitle">
                            <span>03 February 2020</span>
                        </div>
                        <div class="card-text">
                            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque labore asperiores alias perferendis laboriosam. Harum quas nisi illum exercitationem voluptatibus, magni consectetur cumque suscipit excepturi dolores autem. Provident, nam doloribus.</p>
                        </div>
                    </div>
                  </div>
			</div>
			<div class="col-4 review-card-holder-mini">
                <div class="card review-card">
                    <img class="card-img-top" src="{{ 'celine.svg' | asset_url }}" alt="">
                    <img class="card-img-top-quote" src="{{ 'quote.svg' | asset_url }}" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            <span>Celine Li</span>
                        </div>
                        <div class="card-subtitle">
                            <span>26 January 2020</span>
                        </div>
                        <div class="card-text">
                            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque labore asperiores alias perferendis laboriosam. Harum quas nisi illum exercitationem voluptatibus, magni consectetur cumque suscipit excepturi dolores autem. Provident, nam doloribus.</p>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-4 review-card-holder-mini">
                <div class="card review-card">
                    <img class="card-img-top" src="{{ 'anthony.svg' | asset_url }}" alt="">
                    <img class="card-img-top-quote" src="{{ 'quote.svg' | asset_url }}" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            <span>Anthony Wong</span>
                        </div>
                        <div class="card-subtitle">
                            <span>26 January 2020</span>
                        </div>
                        <div class="card-text">
                            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque labore asperiores alias perferendis laboriosam. Harum quas nisi illum exercitationem voluptatibus, magni consectetur cumque suscipit excepturi dolores autem. Provident, nam doloribus.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 review-card-holder-mini">
                <div class="card review-card">
                    <img class="card-img-top" src="{{ 'maryan.svg' | asset_url }}" alt="">
                    <img class="card-img-top-quote" src="{{ 'quote.svg' | asset_url }}" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            <span>Maryan Semana</span>
                        </div>
                        <div class="card-subtitle">
                            <span>03 February 2020</span>
                        </div>
                        <div class="card-text">
                            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque labore asperiores alias perferendis laboriosam. Harum quas nisi illum exercitationem voluptatibus, magni consectetur cumque suscipit excepturi dolores autem. Provident, nam doloribus.</p>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-4 review-card-holder-mini">
                <div class="card review-card">
                    <img class="card-img-top" src="{{ 'celine.svg' | asset_url }}" alt="">
                    <img class="card-img-top-quote" src="{{ 'quote.svg' | asset_url }}" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            <span>Celine Li</span>
                        </div>
                        <div class="card-subtitle">
                            <span>26 January 2020</span>
                        </div>
                        <div class="card-text">
                            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque labore asperiores alias perferendis laboriosam. Harum quas nisi illum exercitationem voluptatibus, magni consectetur cumque suscipit excepturi dolores autem. Provident, nam doloribus.</p>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-4 review-card-holder-mini">
                <div class="card review-card">
                    <img class="card-img-top" src="{{ 'anthony.svg' | asset_url }}" alt="">
                    <img class="card-img-top-quote" src="{{ 'quote.svg' | asset_url }}" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            <span>Anthony Wong</span>
                        </div>
                        <div class="card-subtitle">
                            <span>26 January 2020</span>
                        </div>
                        <div class="card-text">
                            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque labore asperiores alias perferendis laboriosam. Harum quas nisi illum exercitationem voluptatibus, magni consectetur cumque suscipit excepturi dolores autem. Provident, nam doloribus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>








{% schema %}
    {
        "name": "Reviews Slideshow"
    }
{% endschema %}