// Small smartphones (portrait view)
$screen-xs-min: 425px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Extra Small devices
@mixin xs {
    @media (min-width: #{$screen-xs-min}) {
        @content;
    }
 }

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }

 // Custom devices
@mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
 }


// put your styles here

//------HEADER STYLES---------------------------------------------------------//

.fixed-top {
    width: 80%;
    margin: 0 auto;
}

.prenav {
    height: 40px;
    background-color: rgb(53, 112, 14);
    color: white;

    @include rwd(300) {
        height: 20px;
    }

    @include sm {
        height: 40px;
    }

    .prenav-text {
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
    }

    .navbar-nav li a{
        color: white !important;
        font-style: normal;
        font-weight: lighter;
        font-size: 13px;

        cursor: pointer;
    }
    
    .navbar-nav .nav-item.active .nav-link,
    .navbar-nav .nav-item:hover .nav-link {
        color:#294634 !important;
    }
}

.mainnav {
    background-color: rgba(255, 255, 255, 0.877);
    padding-top: 0;
    min-height: 100px;
    margin-top: 40px;
    padding-bottom: 0;
    padding-right: 0;

        @include rwd(300) {
            min-height: 60px;
            margin-top: 20px;
        }
        @include sm {
            margin-top: 40px;
        }

    .nav-item {
        margin-left: 10px;
        margin-right: 10px;

        @include md {
            margin-left: 2px;
            margin-right: 2px;
        }

        @include lg {
            margin-left: 3px;
            margin-right: 3px;
        }

        @include xl {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    .navbar-nav li a{
        color: rgba(51,51,51,1) !important;
        font-style: normal;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: -0.1px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;

        @include md {
            font-size: 15px;
        }

        @include lg {
            font-size: 15px;
        }

        @include xl {
            font-size: 20px;
        }
    }
    
    .navbar-nav .nav-item.active .nav-link,
    .navbar-nav .nav-item:hover .nav-link {
        color:rgb(242, 208, 64) !important;
    }

    .navbar-nav .nav-item:focus .nav-link,
    .navbar-nav .nav-item.focus .nav-link {
        color:rgb(242, 208, 64) !important;
    }


    .navbar-toggler-icon {
        color: rgb(41, 70, 52) !important;
    }

    .logo_image {
        max-height: 60px;
        @include rwd(300) {
            max-height: 30px;
        }
        @include md {
            max-height: 60px;
        }
    }

    #Group_45 {
        position: relative;
        height: 100px;
        width: 60px;
     
        @include md {
         display: none;
         }
     
         @include lg {
             display: inline;
             width: 40px;
         }
     
         @include xl {
             width: 60px;
         }
     }
     
     
     .Path_261 {
         overflow: visible;
         position: absolute;
         display: block;
         margin: 0 auto;
         position: absolute;
         top: calc(60% - 24px);
         left: calc(40% - 24px);
         width: 37.593px;
         height: 37.788px;
         transform: matrix(1,0,0,1,0,0);
     
         @include lg {
             width: 25.537px;
             height: 25.558px;
         }
     
         @include xl {
             width: 37.593px;
             height: 37.788px;
         }
     }
     .Path_262 {
         overflow: visible;
         position: absolute;
         display: block;
         margin: 0 auto;
         position: absolute;
         top: calc(67% - 24px);
         left: calc(70% - 24px);
         width: 10.709px;
         height: 10.731px;
         transform: matrix(1,0,0,1,0,0);
     
         @include lg {
             width: 6.537px;
             height: 6.558px;
         }
     
         @include xl {
             width: 10.709px;
             height: 10.731px;
         }
     }
     .Path_263 {
         overflow: visible;
         position: absolute;
         display: block;
         margin: 0 auto;
         position: absolute;
         top: calc(62% - 24px);
         left: calc(70% - 24px);
         width: 15.537px;
         height: 15.558px;
         transform: matrix(1,0,0,1,0,0);
     
         @include lg {
             width: 10.537px;
             height: 10.558px;
         }
     
         @include xl {
             width: 15.537px;
             height: 15.558px;
         }
     }
     
     #CallUs {
         float: right;
         position: relative;
         height: 100px;
     
     
         @include md {
         display: none;
         }
     
         @include lg {
             display: inline;
             width: 70px;
         }
     
         @include xl {
             width: 100px;
         }
     }
     
     .call_us_now {
         display: block;
         margin: 0 auto;
         position: absolute;
         top: calc(47% - 24px);
         left: calc(0% - 24px);
     
         font-family: 'Poppins';
         font-style: normal;
         font-weight: bold;
     
         color: rgba(51,51,51,1);
         letter-spacing: -0.5px;
     
         @include rwd(300) {
             font-size: 10px;
         }
     
         @include lg {
             font-size: 12px;
         }
         @include xl {
             font-size: 15px;
         }
     }
     
     .call_number {
         display: block;
         margin: 0 auto;
         position: absolute;
         top: calc(67% - 24px);
         left: calc(4% - 24px);
     
         font-family: 'Poppins';
         font-style: normal;
         font-weight: normal;
     
         color: rgba(41,70,52,1);
         letter-spacing: -0.2px;
     
         @include rwd(300) {
             font-size: 10px;
         }
     
         @include lg {
             font-size: 12px;
         }
         @include xl {
             font-size: 16px;
         }
     }

    .btn-group-nav {
        width: 200px;
    }

    .nav-full-btn
    {
        max-width: 90px !important;
        height:100px !important; 
        min-height:100px !important;
    }

    .buttons { display: block; text-align: right; }
    .buttons .btn { float: none; }

    .btn-cart {
        background-color: rgb(41, 70, 52);
        border-color:  rgb(41, 70, 52);
        border-radius: 0;
        padding: 0;
        .fa  {

            @include md {
                font-size: 1.5rem;
            }
    
            @include lg {
                font-size: 2rem;
            }
        }

        .badge {
            top: -10px;
            left: 3px;
        }
        
        .badge-light {
            color: green;
        }
  
    }

    .btn-cart:hover {
        border-color:  rgb(189, 189, 189);
    }

    .btn-cart:focus,
    .btn-cart.focus {
        box-shadow: 0 0 0 .2rem rgba(41, 63, 41, 0.5)
    }

    .btn-list {
        @include md {
            margin-left: auto!important;
        }
        @include lg {
            margin-left: 0 !important;
        }

        background-color: rgb(242, 208, 64);
        border-color: rgb(242, 208, 64);
        border-radius: 0;
        .fa  {
            @include md {
                font-size: 1.5rem;
            }
    
            @include lg {
                font-size: 2rem;
            }
        }
    }

    .btn-list:hover {
        border-color: rgb(189, 189, 189);
    }

    .btn-list:focus,
    .btn-list.focus {
        box-shadow: 0 0 0 .2rem rgba(185, 160, 15, 0.5)
    }

}

#myModal {

    .modal-footer {

        .btn {
            border-color: rgb(41, 70, 52);
            background-color:  rgb(41, 70, 52);
            padding: .5rem 1.5rem;
            &:hover{
                background-color: #294634;
                box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
            }

        }

        .btn:active:focus{
            background:#294634;
            border-color: #294634;
            box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
        }

        .btn:focus{
            box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
        }
    }
}

.page-width {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.divider {
    @include rwd(300) {
        height: 20px;
    }
    @include md {
        height: 30px;
    }
    @include lg {
        height: 50px;
    }

    @include xl {
        height: 70px;
    }

    @include rwd(1600) {
        height: 90px;
    }

}




.display-text {
    color: rgba(41,70,52,1) !important;
}

.featured-title {

    .display-3 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        letter-spacing: -0.5px;
        @include rwd(300) {
            font-size: 3rem;
        }

        @include lg {
            font-size: 3.5rem;
        }

        @include rwd(1800) {
            font-size: 4rem;
        }

        @include rwd(2100) {
            font-size: 5rem;
        }

        @include rwd(2500) {
            font-size: 6rem;
        }
    }
}

.carousel-cover {

    .carousel-inner-cover {
        max-height: 900px;
        .carousel-item img {
            width: 100%;
        }
    
        .row-learn-more {
            position: absolute;
            top: 70%;
        }
    
        .btn-learn-more {
            border: none;
            background-color: rgb(242, 208, 64);
            font-family: 'Poppins';
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            width: 150px;
            border-radius: 1rem;
    
            @include rwd(300) {
                font-size: 6px;
                height: 20px;
                width: 70px;
            }
    
            @include sm {
                font-size: 15px;
                height: 30px;
                width: 150px;
            }
    
            @include md {
                font-size: 15px;
                height: 30px;
                width: 150px;
            }
    
            @include lg {
                font-size: 18px;
                height: 40px;
                width: 200px;
            }
        }
    }


    .carousel-indicators {
        justify-content: left;
        top: 80%;
        margin-left: 10%;
        
        li {

            background-color: rgb(191, 144, 77);

            @include rwd(300) {
                height: 6px;
                width: 6px;
                border-radius: 100%;
            }

            @include sm {
                height: 10px;
                width: 10px;
                border-radius: 100%;
            }

            @include md {
                margin-right: 7px;
            }

            @include lg {
                height: 12px;
                width: 12px;
                border-radius: 100%;
                margin-right: 10px;
            }
        }


    }
}

#Group_33 {
    position: absolute;
    width: 25.696px;
    height: 18px;
    top: 50%;
    overflow: visible;
}
#Group_31_qw {
    position: absolute;
    width: 25.696px;
    height: 18px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_30_qx {
    position: absolute;
    width: 8.561px;
    height: 18px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Path_248_qy {
    overflow: visible;
    position: absolute;
    width: 10.974px;
    height: 20.827px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Line_1_qz {
    overflow: visible;
    position: absolute;
    width: 26.907px;
    height: 2px;
    left: 0.789px;
    top: 9.062px;
    transform: matrix(1,0,0,1,0,0);
}

#Group_32 {
    position: absolute;
    width: 25.696px;
    height: 18px;
    top: 50%;
    overflow: visible;
}
#Group_31 {
    position: absolute;
    width: 25.696px;
    height: 18px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_30 {
    position: absolute;
    width: 8.561px;
    height: 18px;
    left: 17.135px;
    top: 0px;
    overflow: visible;
}
.Path_248 {
    overflow: visible;
    position: absolute;
    width: 10.974px;
    height: 20.827px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Line_1 {
    overflow: visible;
    position: absolute;
    width: 26.907px;
    height: 2px;
    left: 0px;
    top: 9.062px;
    transform: matrix(1,0,0,1,0,0);
}


.carousel-featured {

    .carousel-inner-featured {

        width: 85%;
        margin: auto;

        .product-row {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        .wrapper {
            position: relative;
            overflow: hidden;
          }
          
          .wrapper:after {
            content: '';
            display: block;
            padding-top: 100%;
          }
          
          .wrapper img {
            width: auto;
            height: 100%;
            max-width: none;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
          }
    
        .card-deck {
            margin: 10px 20px;
            align-items: center;
        }

        .featured-card-holder {
            margin-bottom: 60px;
        }
    
        .featured-card {
            border: 1px solid rgb(255, 249, 239);
            background-color: rgb(255, 249, 239);
        
            .card-body {

                .card-collection-title-holder {
                    width: 100%;
                    margin-bottom: 10px;
                    @include rwd(300) {
                        font-size: 14px
                    }

                    @include rwd(1600) {
                        font-size: 16px
                    }
                }

                
                .card-title-holder {
                    width: 100%;
                    margin-top: -10px;
                    margin-bottom: 80px;
                    a {
                        color: black;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: bolder;
                        font-size: 22px;
                        color: rgba(51,51,51,1);
                        letter-spacing: -0.5px;
                        line-height: 2;
    
                        @include rwd(300) {
                            font-size: 18px;
                            line-height: 1;
                        }

                        @include rwd(1600) {
                            font-size: 21px;
                            line-height: 1;
                        }
                    }
                }

                .card-text-holder {
                    width: 100%;
                    position: absolute;
                    bottom: 10%;

                    .card-text {
                        margin: auto;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: lighter;
                        font-size: 20px;
                        color: rgba(191,144,77,1);
                    }
                }

            }

  
            .card-footer-buttons {
                    position: absolute;
                    display: flex;
                    justify-content: space-evenly;
                    bottom: -7%;

                    .btn-group-sm {
                      
                    }
                    .card-footer-button-wish {
                        background-color: rgb(242, 208, 64);
                        border-color: rgb(242, 208, 64);
                        width: 70px; 
                        height: 70px; 
                        padding-left: 15px;
                        border-radius: 100%; 

                        @include rwd(300) {
                            width: 50px; 
                            height: 50px; 
                            padding-left: 12px;
                            img {
                                height: 25px;
                            }
                        }

                        @include xs {
                            width: 70px; 
                            height: 70px; 
                            padding-left: 15px;
                        }

                        @include md {
                            width: 50px; 
                            height: 50px; 
                            padding-left: 12px;
                            img {
                                height: 25px;
                            }
                        }

                        @include lg {
                            width: 70px; 
                            height: 70px; 
                            padding-left: 15px;
                        }

                        
                        @include xl {
                            width: 50px; 
                            height: 50px; 
                            padding-left: 12px;
                            img {
                                height: 25px;
                            }
                        }

                        @include rwd(1400) {
                            width: 70px; 
                            height: 70px; 
                            padding-left: 15px;
                        }
                    }
    
                    .card-footer-button-cart {
                        background-color: rgb(41, 70, 52);
                        border-color:  rgb(41, 70, 52);
                        width: 70px; 
                        height: 70px; 
                        border-radius: 100%; 

                        @include rwd(300) {
                            width: 50px; 
                            height: 50px; 
                            img {
                                height: 25px;
                            }
                        }

                        
                        @include xs {
                            width: 70px; 
                            height: 70px;
                        }

                        @include md {
                            width: 50px; 
                            height: 50px; 
                            img {
                                height: 25px;
                            }
                        }

                        @include lg {
                            width: 70px; 
                            height: 70px; 
                        }

                        @include xl {
                            width: 50px; 
                            height: 50px; 
                            img {
                                height: 25px;
                            }
                        }

                        @include rwd(1400)  {
                            width: 70px; 
                            height: 70px; 
                        }
                    }
            }
        }
    
    }

    .ft-prev-icon {
        left: 10%
    }

    .ft-next-icon {
        right: 10%;
    }
}

.view-more-holder {
    margin-top: 50px;
    .btn {
        margin: auto;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bolder;
        font-size: 15px;
        color: rgba(102,102,102,1);
        letter-spacing: -0.1px;
        padding: 1rem 3rem;
        border-color: rgb(102, 102, 102);
        border-radius: 5rem;
        &:hover{
            background-color: transparent;
            box-shadow: 0 10px 20px rgba(102, 102, 102,0.2);
        }

        @include lg {
            font-size: 15px;
        }

        @include rwd(1800) {
            font-size: 20px;
        }

        @include rwd(2100) {
            font-size: 24px;
        }

        @include rwd(2500) {
            font-size: 28px;
        }
    
    }

    .btn:active:focus{
        background:#294634;
        border-color: #294634;
        box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
    }

    .btn:focus{
        box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
    }

}

// .category-wrapper {
//     display: flex;
//     background-color: red;
//     .image-holdertest {
//         flex: 1;
//         .pcimg {
//             width: 100%;
//         }
//     }

//     .categories-holdertest {
//         flex: 2;
//     }

// }

.product-categories-holder {

    @include rwd(300) {
        display: none;
    }

    @include md {
        display: flex;
    }

    .image-holder {
        flex: 2;
        .pcimg {   
            width: 100%;
        }
    }

    .categories-holder {
        flex: 1;
        height: 100%;

        max-height: 1000px;

        @include md {
            padding-right: 5%;
        }

        @include rwd(1200) {
            padding-right: 10%;
        }
        .categories-title {
            height: 20%;
            line-height: 55px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: bold;
            text-align: right;
            font-size: 50px;
            color: rgba(41,70,52,1);
            letter-spacing: -0.5px;
            padding-right: 5%;
            // @include rwd(300) {
            //     font-size: 3rem;
            //     padding-right: 5%;
            // }
      

            @include md {
                font-size: 1.8rem;
                line-height: 30px;
                margin-bottom: .5rem;
            }

            @include rwd(910) {
                font-size: 2rem;
                line-height: 30px;
                margin-bottom: .5rem;
            }

            @include lg {
                font-size: 2.5rem;
                line-height: 40px;
                margin-bottom: 1rem;
            }

            @include rwd(1200) {
                font-size: 3rem;
                line-height: 55px;
                margin-bottom: 1.5rem;
                // padding-right: 20%;
            }

            @include rwd(1600) {
                font-size: 3.5rem;
                line-height: 55px;
                margin-bottom: 1.5rem;
                // padding-right: 20%;
            }

            @include rwd(1800) {
                font-size: 4rem;
                line-height: 55px;
                margin-bottom: 1.5rem;
                // padding-right: 20%;
            }

            @include rwd(2100) {
                font-size: 5rem;
                line-height: 75px;
                margin-bottom: 1.5rem;
                // padding-right: 20%;
            }

            
            @include rwd(2500) {
                font-size: 6rem;
                line-height: 95px;
                margin-bottom: 1.5rem;
                // padding-right: 20%;
            }
        }

        .categories-list {
            height: 65%;
            // padding-right: 5%;

            // @include rwd(300) {
            //     padding-right: 5%;
            // }

            .list-group {
                overflow: scroll !important;
                max-height: 100%;
            }
            .list-group {
                text-align: right;

                .list-group-item{
                    background: transparent !important;
                    border: none;
                    padding: .5rem 1.25rem;

                    a {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        color: rgba(102,102,102,1);
                        letter-spacing: -0.5px;

                        @include md {
                            font-size: 15px;
                        }

                        @include lg {
                            font-size: 18px;
                        }

                        @include rwd(1600) {
                            font-size: 20px;
                        }

                        @include rwd(1800) {
                            font-size: 24px;
                        }

                        @include rwd(2100) {
                            font-size: 28px;
                        }

                        @include rwd(2500) {
                            font-size: 34px;
                        }
                    }

                    a:hover {
                        color: rgba(191,144,77,1) !important;
                        font-weight: bold;
                    }

                    // .btn-primary {
                    //     margin: auto;
                    //     font-family: 'Poppins';
                    //     font-style: normal;
                    //     font-weight: bolder;
                    //     font-size: 15px;
                    //     letter-spacing: -0.1px;
                    //     padding: 1rem 3rem;
                    //     border-radius: 5rem;
                    //     border-color: rgb(242, 208, 64);
                    //     background-color: rgb(242, 208, 64);
                    // }
      
                }

                // .btn-item {
                //     margin-top: 1.5rem!important;
                // }
            }
        }

        .categories-view-all {
            height: 15%;
            text-align: center;
            display: flex;
            margin-top: 1.5rem;

            @include md {
                margin-top: .5rem;
            }
            .btn-view-all {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: bolder;
                letter-spacing: -0.1px;
                padding: 1rem 3rem;
                border-radius: 5rem;
                border-color: rgb(242, 208, 64);
                background-color: rgb(242, 208, 64);
                &:hover{
                    box-shadow: 0 10px 20px rgba(242, 208, 64,0.2);
                }

                @include md {
                    margin-top: auto;
                    margin-left: auto;
                    margin-bottom: auto;
                    margin-right: 5%;
                    font-size: 10px;
                }

                @include lg {
                    font-size: 15px;
                }

                @include rwd(1800) {
                    font-size: 20px;
                }

                @include rwd(2100) {
                    font-size: 24px;
                }

                @include rwd(2500) {
                    font-size: 28px;
                }
            }
        }
    }
}


.product-categories-holder-mini {
    @include rwd(300) {
        display: flex;
    }

    @include md {
        display: none;
    }

    .categories-holder-mini {
        flex: 1;

        .categories-title-mini {
            height: 20%;
            line-height: 55px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: bold;
            text-align: right;
            font-size: 50px;
            color: rgba(41,70,52,1);
            letter-spacing: -0.5px;

            margin-bottom: 15px;
            @include rwd(300) {
                font-size: 3rem;
                padding-right: 5%;
            }
        }

        .categories-list-mini {
            height: 65%;
            padding-right: 5%;

            @include rwd(300) {
                padding-right: 5%;
            }

            .list-group {
                overflow: scroll !important;
                max-height: 100%;
            }
            .list-group {
                text-align: right;

                .list-group-item{
                    background: transparent !important;
                    border: none;
                    padding: .5rem 1.25rem;

                    a {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        color: rgba(102,102,102,1);
                        letter-spacing: -0.5px;
                    }

                    a:hover {
                        color: rgba(191,144,77,1) !important;
                        font-weight: bold;
                    }

                    // .btn-primary {
                    //     margin: auto;
                    //     font-family: 'Poppins';
                    //     font-style: normal;
                    //     font-weight: bolder;
                    //     font-size: 15px;
                    //     letter-spacing: -0.1px;
                    //     padding: 1rem 3rem;
                    //     border-radius: 5rem;
                    //     border-color: rgb(242, 208, 64);
                    //     background-color: rgb(242, 208, 64);
                    // }
      
                }

                // .btn-item {
                //     margin-top: 1.5rem!important;
                // }
            }
        }

        .categories-view-all-mini {
            height: 15%;
            text-align: center;
            display: flex;
            margin-top: 1.5rem;
            .btn-view-all {
                margin: auto;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: bolder;
                font-size: 15px;
                letter-spacing: -0.1px;
                padding: 1rem 3rem;
                border-radius: 5rem;
                border-color: rgb(242, 208, 64);
                background-color: rgb(242, 208, 64);
            }
        }
    }
}

#child {
    background-color: red !important;
}

#parent {
    background-color: green !important;
    height: 250px;
}


.jumbotron {
    background-image: url(jumbotron_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 800px;

    .h1, h1 {
        font-size: 7rem !important;
    }
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

  }

.vertical-off-center {
    margin: 0;
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);

    @include rwd(1880) {
        top: 25%;
    }

}

.vertical-off-bottom {
    margin: 0;
    position: absolute;
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);

    @include rwd(300) {
        top: 75%;
    }

    @include xs {
        top: 65%;
    }

    @include sm {
        top: 65%;
    }

    @include md {
        top: 70%;
    }

    @include rwd(1500) {
        top: 60%;
    }


    @include rwd(1880) {
        top: 50%;
    }

    @include rwd(2100) {
        top: 40%;
    }
}

.full-width {
    width: 100% !important;
}

.reviews-slideshow-holder {
    width: 100%;

    height: 100%;
    margin-left: 60px;

    @include rwd(300) {
        display: none;
    }

    @include md {
        display: flex;
    }

    .reviews-title-holder {
        padding-left: 60px;
        width: 30%;
        .reviews-title {
            line-height: 55px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            color: rgba(41,70,52,1);
            letter-spacing: -0.5px;

            @include md {
                font-size: 1.8rem;
                line-height: 30px;
                margin-bottom: .5rem;
            }

            @include rwd(910) {
                font-size: 2rem;
                line-height: 30px;
                margin-bottom: .5rem;
            }

            @include lg {
                font-size: 2.5rem;
                line-height: 40px;
                margin-bottom: 1rem;
            }

            @include rwd(1200) {
                font-size: 3rem;
                line-height: 55px;
                margin-bottom: 1.5rem;
                // padding-right: 20%;
            }

            @include rwd(1600) {
                font-size: 3.5rem;
                line-height: 55px;
                margin-bottom: 1.5rem;
                // padding-right: 20%;
            }

            @include rwd(1800) {
                font-size: 4rem;
                line-height: 55px;
                margin-bottom: 1.5rem;
                // padding-right: 20%;
            }

            @include rwd(2100) {
                font-size: 5rem;
                line-height: 75px;
                margin-bottom: 1.5rem;
                // padding-right: 20%;
            }
        }

        .btn-group {

            .btn-primary {
                background-color: rgb(255, 255, 255);
                border-color: rgba(124, 124, 124, 0.2);
                height: 50px;
                box-shadow: 0 8px 6px -6px #d9d7d7;
                &:hover{
                    box-shadow: 0 10px 20px rgba(191, 144, 77, 0.5);
                }
                // -webkit-box-shadow: 0 3px 10px #d9d7d7;
                // -moz-box-shadow: 0 3px 10px #d9d7d7;
                // box-shadow: 0 3px 10px #d9d7d7;
            }
    
            .btn-prev {
                border-top-left-radius: 50%;
                border-bottom-left-radius: 50%;
    
            }
    
            .btn-next {
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
      
            }
    
            #Group_33 {
                position: relative;
                width: 25.696px;
                height: 18px;
                top: 50%;
                overflow: visible;
            }
            #Group_31_qw {
                position: absolute;
                width: 25.696px;
                height: 18px;
                left: 0px;
                top: 0px;
                overflow: visible;
            }
            #Group_30_qx {
                position: absolute;
                width: 8.561px;
                height: 18px;
                left: 0px;
                top: 0px;
                overflow: visible;
            }
            .Path_248_qy {
                overflow: visible;
                position: absolute;
                width: 10.974px;
                height: 20.827px;
                left: 0px;
                top: 0px;
                transform: matrix(1,0,0,1,0,0);
            }
            .Line_1_qz {
                overflow: visible;
                position: absolute;
                width: 26.907px;
                height: 2px;
                left: 0.789px;
                top: 9.062px;
                transform: matrix(1,0,0,1,0,0);
            }
            
            #Group_32 {
                position: relative;
                width: 25.696px;
                height: 18px;
                top: 50%;
                overflow: visible;
            }
            #Group_31 {
                position: absolute;
                width: 25.696px;
                height: 18px;
                left: 0px;
                top: 0px;
                overflow: visible;
            }
            #Group_30 {
                position: absolute;
                width: 8.561px;
                height: 18px;
                left: 17.135px;
                top: 0px;
                overflow: visible;
            }
            .Path_248 {
                overflow: visible;
                position: absolute;
                width: 10.974px;
                height: 20.827px;
                left: 0px;
                top: 0px;
                transform: matrix(1,0,0,1,0,0);
            }
            .Line_1 {
                overflow: visible;
                position: absolute;
                width: 26.907px;
                height: 2px;
                left: 0px;
                top: 9.062px;
                transform: matrix(1,0,0,1,0,0);
            }

        }


    }

    .reviews-content-holder {
        width: 70%;
        .scrolling-wrapper{
            overflow-x: auto;
            max-width: 1500px;
            padding-top: 30px;
            padding-left: 50px;
            padding-bottom: 70px;	
            -ms-overflow-style: scroll;  // IE 10+
            scrollbar-width: none;  // Firefox
        }

        .scrolling-wrapper::-webkit-scrollbar { 
            display: none;  // Safari and Chrome
            }

        .review-card-holder {
            max-width: 500px;
            margin-right: 50px;

            @include rwd(2500) {
                margin-right: 100px;
            }
        }

        .review-card {
            width: 350px;
            background-color: rgb(250, 250, 250);
            border-color: rgb(250, 250, 250);
            box-shadow: 0 10px 30px rgba(135, 135, 140, 0.35);
            transition: all 0.2s ease-in-out !important;

            @include rwd(1800) {
                width: 400px;
            }

            @include rwd(2100) {
                width: 450px;
            }

            @include rwd(2500) {
                width: 500px;
            }


            &:hover{
                transform: translateY(-5px);
                box-shadow: 0 20px 50px rgba(191, 144, 77, 0.5);
            }
            .card-img-top {
                position: absolute;
                top: -25px;
                left: -50px;
                border: 1px solid rgb(191, 144, 77);
                padding: 5px;
                // border-top-left-radius: 50%;
                // border-top-right-radius: 50%;
                border-radius: 50%;
                width: 100px;
            }

            .card-img-top-quote {
                position: absolute;
                right: 20px;
                top: -30px;
            }

            .card-body {
                margin-left: 2.5rem;
                .card-title {
                    margin-bottom: .5rem;
                    color: rgb(41, 70, 52);
                    font-size: 18px;
                    font-family: 'Poppins';
                    font-weight: bold;

                    @include rwd(1800) {
                        font-size: 20px;
                    }
        
                    @include rwd(2100) {
                        font-size: 24px;
                    }
        
                    @include rwd(2500) {
                        font-size: 26px;
                    }
                }

                .card-subtitle {
                    margin-bottom: .75rem;
                    color: rgb(191, 144, 77);
                    font-size: 12px;
                    font-family: 'Poppins';
                    font-style: italic;

                    @include rwd(1800) {
                        font-size: 14px;
                    }
        
                    @include rwd(2100) {
                        font-size: 18px;
                    }
        
                    @include rwd(2500) {
                        font-size: 22px;
                    }
                }

                .card-text {
                    color: rgb(102, 102, 102);
                    font-size: 13px;
                    font-family: 'Poppins';

                    
                    @include rwd(1800) {
                        font-size: 16px;
                    }
        
                    @include rwd(2100) {
                        font-size: 20px;
                    }
        
                    @include rwd(2500) {
                        font-size: 22px;
                    }
                }
            }
        }
        
        .card-block{
            height: 250px;
            background-color: #fff;
            border: none;
            background: linear-gradient(to left bottom, rgba(#ff4057, 0.8), rgb(51, 51, 102) 90%), url('https://source.unsplash.com/1024x1024?mountains');
            background-position: center;
            background-size: cover;
            box-shadow: 0 20px 50px hsla(240%, 43%, 40%, 0.35);
            transition: all 0.2s ease-in-out !important;
            &:hover{
                transform: translateY(-5px);
                box-shadow: 0 30px 70px hsla(240%, 43%, 40%, 0.5);
            }
        }
    }

}




    .reviews-title-holder-mini {
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
        @include rwd(300) {
            display: flex;
            flex-wrap: wrap;
        }
    
        @include md {
            display: none;
        }
        .reviews-title-mini {
            width: 100%;
            padding-right: 20px;
            line-height: 55px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            color: rgba(41,70,52,1);
            letter-spacing: -0.5px;

            @include rwd(300) {
                font-size: 3rem;
                line-height: 55px;
                margin-bottom: .5rem;
            }
        }

        .btn-group {

            .btn-primary {
                background-color: rgb(255, 255, 255);
                border-color: rgba(124, 124, 124, 0.2);
                height: 50px;
                box-shadow: 0 8px 6px -6px #d9d7d7;
                &:hover{
                    box-shadow: 0 10px 20px rgba(191, 144, 77, 0.5);
                }
                // -webkit-box-shadow: 0 3px 10px #d9d7d7;
                // -moz-box-shadow: 0 3px 10px #d9d7d7;
                // box-shadow: 0 3px 10px #d9d7d7;
            }
    
            .btn-prev {
                border-top-left-radius: 50%;
                border-bottom-left-radius: 50%;
    
            }
    
            .btn-next {
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
      
            }
    
            #Group_33 {
                position: relative;
                width: 25.696px;
                height: 18px;
                top: 50%;
                overflow: visible;
            }
            #Group_31_qw {
                position: absolute;
                width: 25.696px;
                height: 18px;
                left: 0px;
                top: 0px;
                overflow: visible;
            }
            #Group_30_qx {
                position: absolute;
                width: 8.561px;
                height: 18px;
                left: 0px;
                top: 0px;
                overflow: visible;
            }
            .Path_248_qy {
                overflow: visible;
                position: absolute;
                width: 10.974px;
                height: 20.827px;
                left: 0px;
                top: 0px;
                transform: matrix(1,0,0,1,0,0);
            }
            .Line_1_qz {
                overflow: visible;
                position: absolute;
                width: 26.907px;
                height: 2px;
                left: 0.789px;
                top: 9.062px;
                transform: matrix(1,0,0,1,0,0);
            }
            
            #Group_32 {
                position: relative;
                width: 25.696px;
                height: 18px;
                top: 50%;
                overflow: visible;
            }
            #Group_31 {
                position: absolute;
                width: 25.696px;
                height: 18px;
                left: 0px;
                top: 0px;
                overflow: visible;
            }
            #Group_30 {
                position: absolute;
                width: 8.561px;
                height: 18px;
                left: 17.135px;
                top: 0px;
                overflow: visible;
            }
            .Path_248 {
                overflow: visible;
                position: absolute;
                width: 10.974px;
                height: 20.827px;
                left: 0px;
                top: 0px;
                transform: matrix(1,0,0,1,0,0);
            }
            .Line_1 {
                overflow: visible;
                position: absolute;
                width: 26.907px;
                height: 2px;
                left: 0px;
                top: 9.062px;
                transform: matrix(1,0,0,1,0,0);
            }

        }


    }

    .reviews-content-holder-mini {
        width: 100%;
        @include rwd(300) {
            display: flex;
        }
    
        @include md {
            display: none;
        }

        .scrolling-wrapper{
            overflow-x: auto;
            max-width: 1500px;
            padding-top: 30px;
            padding-left: 60px;
            padding-bottom: 70px;	
            -ms-overflow-style: scroll;  // IE 10+
            scrollbar-width: none;  // Firefox
        }

        .scrolling-wrapper::-webkit-scrollbar { 
            display: none;  // Safari and Chrome
            }

        .review-card-holder-mini {
            max-width: 450px;
            margin-right: 50px;
        }

        .review-card {
            width: 250px;
            background-color: rgb(250, 250, 250);
            border-color: rgb(250, 250, 250);
            box-shadow: 0 10px 30px rgba(135, 135, 140, 0.35);
            transition: all 0.2s ease-in-out !important;
            &:hover{
                transform: translateY(-5px);
                box-shadow: 0 20px 50px rgba(191, 144, 77, 0.5);
            }
            .card-img-top {
                position: absolute;
                top: -25px;
                left: -50px;
                border: 1px solid rgb(191, 144, 77);
                padding: 5px;
                // border-top-left-radius: 50%;
                // border-top-right-radius: 50%;
                border-radius: 50%;
                width: 100px;
            }

            .card-img-top-quote {
                position: absolute;
                right: 10px;
                top: -40px;
            }

            .card-body {
                margin-left: 2.5rem;
                .card-title {
                    margin-bottom: .5rem;
                    color: rgb(41, 70, 52);
                    font-size: 18px;
                    font-family: 'Poppins';
                    font-weight: bold;
                }

                .card-subtitle {
                    margin-bottom: .75rem;
                    color: rgb(191, 144, 77);
                    font-size: 12px;
                    font-family: 'Poppins';
                    font-style: italic;
                }

                .card-text {
                    color: rgb(102, 102, 102);
                    font-size: 13px;
                    font-family: 'Poppins';
                }
            }
        }
        
        .card-block{
            height: 250px;
            background-color: #fff;
            border: none;
            background: linear-gradient(to left bottom, rgba(#ff4057, 0.8), rgb(51, 51, 102) 90%), url('https://source.unsplash.com/1024x1024?mountains');
            background-position: center;
            background-size: cover;
            box-shadow: 0 20px 50px hsla(240%, 43%, 40%, 0.35);
            transition: all 0.2s ease-in-out !important;
            &:hover{
                transform: translateY(-5px);
                box-shadow: 0 30px 70px hsla(240%, 43%, 40%, 0.5);
            }
        }
    }



.footer-holder {
    width: 100%;
    .pre-footer {
        position: relative;
        height: 150px;
        background-image: url(Mask_Group_5_ts_pattern.png);
        background-size: cover;
        background-repeat: no-repeat;

        @include rwd(300) {
            height: 50px;
        }

        @include lg {
            height: 70px;
        }

        @include rwd(1200) {
            height: 100px;
        }


        @include rwd(2100) {
            height: 120px;
        }

        #Rectangle_25 {
            opacity: 0.9;
        }
        .Rectangle_25 {
            position: relative;
            overflow: visible;
            width: 100%;
            height: 100%;
        }

        .consult-holder {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .consult-text {
                color: white;
                font-weight: bold;

                @include rwd(1200) {
                    font-size: 1.5rem;
                }

        
                @include rwd(2100) {
                    font-size: 2rem;
                }
                text-align: center;

            }

            .consult-text-bold {
                font-weight: bold;
                color: rgb(242, 208, 64);
            }
        
        }
    }

    .main-footer {
        height: 400px;
        background-color: rgb(34, 34, 34);
        width: 100%;
        display: flex;
        align-items: center;

        @include rwd(300) {
            display: none;
        }

        @include lg {
            height: 300px;
            display: flex;
        }


        .main-footer-content {
            width: 90%;
            .row-content {
               padding-left: 10%;
               padding-right: 10%;

                .footer-logo-holder {
                    position: relative;
                    text-align: center;
                    .footer-logo {
                        max-height: 100px;
                    }
                }

                .footer-logo-title {
                    margin-top: 15px;

                    color: rgba(255, 255, 255, 0.48);
                    font-family: 'Poppins';
                    font-size: 13px;
                    text-align: center;

                    @include rwd(1500) {
                        font-size: 14px;
                    }
                
                
                    @include rwd(1880) {
                        font-size: 16px;
                    }
                
                    @include rwd(2100) {
                        font-size: 20px;
                    }
                }

                .content-title {
                    font-family: 'Poppins';
                    font-size: 12px;
                    font-weight: bold;
                    color: rgb(255,255,255);
                    margin-bottom: 15px;

                    @include rwd(1500) {
                        font-size: 16px;
                    }
                
                
                    @include rwd(1880) {
                        font-size: 18px;
                    }
                
                    @include rwd(2100) {
                        font-size: 22px;
                    }
                }

                .content-list {

                    .list-group-item {
                        background: transparent !important;
                        border: none;
                        color: rgba(255, 255, 255, 0.48);
                        font-size: 10px;
                        padding: .2rem .5rem;

                        @include rwd(1500) {
                            font-size: 12px;
                        }
                    
                    
                        @include rwd(1880) {
                            font-size: 14px;
                        }
                    
                        @include rwd(2100) {
                            font-size: 16px;
                        }
                
                    }
                }

            }
        }
    }

    .main-footer-mini {
        background-color: rgb(34, 34, 34);
        width: 100%;
        display: flex;
        align-items: center;
        @include rwd(300) {
            display: flex;
            height: 100px;
        }
    
        @include lg {
            display: none;
        }

        .main-footer-mini-content {
            width: 90%;
            .row-content-mini {
               padding-left: 10%;
               padding-right: 10%;
               display: flex;
               justify-content: space-between;

                .footer-logo-holder {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    .footer-logo {
                        max-height: 60px;
                    }

                    a {
                        margin-left: 5px;
                        margin-right: 5px;
                        font-size: 30px;
                        color: rgba(255, 255, 255, 0.48);
                    }
                }

                // .footer-logo-title {
                //     width: 70%;
                //     color: rgba(255, 255, 255, 0.48);
                //     font-family: 'Poppins';
                //     display: flex;
                //     align-items: center;
                //     justify-content: space-evenly;

         
                // }

                .content-title {
                    font-family: 'Poppins';
                    font-size: 12px;
                    font-weight: bold;
                    color: rgb(255,255,255);
                    margin-bottom: 15px
                }

                .content-list {

                    .list-group-item {
                        background: transparent !important;
                        border: none;
                        color: rgba(255, 255, 255, 0.48);
                        font-size: 10px;
                        padding: .2rem .5rem;
                
                    }
                }

            }
        }
    }

    .payment-footer {
        background-color: rgb(34, 34, 34);
        width: 100%;

        @include rwd(300) {
            display: none;
        }

        @include lg {
            height: 70px;
            display: flex;
        }

        align-items: center;

        .payment-footer-content {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            margin-left: 10%;
            margin-right: 10%;

            .copyright-text {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                color: rgba(153,153,153,1);
                letter-spacing: -0.2px;
            }

            .payment-images {
                
            }
        }


    }

    
    .payment-footer-mini {
        background-color: rgb(34, 34, 34);
        width: 100%;

        @include rwd(300) {
            display: flex;
            height: 50px;
        }
    
        @include lg {
            display: none;
        }

        align-items: center;

        .payment-footer-mini-content {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            margin-left: 10%;
            margin-right: 10%;

            .copyright-text {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                color: rgba(153,153,153,1);
                letter-spacing: -0.2px;
            }

            .payment-images {
                @include rwd(300) {
                    display: none;
                }

                @include md {
                    display: inline;
                }
            }
        }


    }
}

.product-cover {
    width: 100%;
    height: 200px;
    background-color: rgb(255, 249, 239);
}


.product-container {
    margin-top: 50px;
    margin-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;

    @include rwd(300) {
        display: none;
    }

    @include md {
        display: flex;
    }

    .product-image-holder {
        flex: 1;

        .wrapper {
            position: relative;
            overflow: hidden;
          }
          
          .wrapper:after {
            content: '';
            display: block;
            padding-top: 100%;
          }
          
          .wrapper img {
            width: auto;
            height: 100%;
            max-width: none;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
          }

        .product-image {
            // width: 100%;
        }
    }

    .form-holder {
        flex: 2;
        .product-name {
            height: 30%;
            display: flex;
            justify-content: center;
            color: rgb(41, 70, 52);
            font-size: 42px;
            font-family: 'Poppins';
            font-weight: bold;

            @include md {
                font-size: 36px;
            }

            @include lg {
                font-size: 40px;
            }

            @include rwd(1400) {
                font-size: 42px;
            }
        }

        .product-form {
            padding-left: 50px;
            padding-right: 50px;
            height: 70%;
            font-family: 'Poppins';

            @include md {
                padding-left: 10px;
                padding-right: 10px;
            }

            @include lg {
                padding-left: 30px;
                padding-right: 30px;
            }

            @include rwd(1400) {
                padding-left: 50px;
                padding-right: 50px;
            }

            form {
                height: 100%;
            }
            label {
                font-size: 20px;

                @include md {
                    font-size: 16px;
                }

                @include lg {
                    font-size: 20px;
                }
            }

            .form-control {
                @include md {
                    font-size: 16px !important;
                }
            }

            .submit-row {
                display: flex;
                justify-content: center;
                margin-top: 50px;
                padding-left: 50px;
                padding-right: 50px;

                @include md {
                    padding-left: 10px;
                    padding-right: 10px;
                }

                @include lg {
                    padding-left: 30px;
                    padding-right: 30px;
                }

                @include rwd(1400) {
                    padding-left: 50px;
                    padding-right: 50px;
                }

                .btn {
                    margin: auto;
                    width: 205px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: bolder;
                    font-size: 15px;
                    color: rgba(102,102,102,1);
                    letter-spacing: -0.1px;
                    padding: 1rem 3rem;
                    border-radius: 5rem;
                    color: white;

                    @include md {
                        width: 150px;
                        font-size: 12px;
                        padding: 1rem 2rem;
                    }

                    @include lg {
                        width: 170px;
                        font-size: 13px;
                        padding: 1rem 2rem;
                    }

                    @include rwd(1400) {
                        width: 205px;
                        font-size: 15px;
                        padding: 1rem 3rem;
                    }

                }

                #AddToWish {
                    border-color: rgb(242, 208, 64);
                    background-color: rgb(242, 208, 64);
                    &:hover{
                        background-color: transparent;
                        box-shadow: 0 10px 20px rgba(242, 208, 64,0.2);
                    }
                }
    
                #AddToCart {
                    border-color: rgb(41, 70, 52);
                    background-color:  rgb(41, 70, 52);
                    &:hover{
                        background-color: transparent;
                        box-shadow: 0 10px 20px rgba(41, 70, 52,0.2);
                    }
                }
            }
        }
    }

}

.product-container-mini {

    @include rwd(300) {
        display: block;
        width: 100%;
        margin-top: 100px;
        margin-bottom: 100px;
        padding-left: 10px;
        padding-right: 10px;
    }

    @include md {
        display: none;
    }

    .product-image-holder-mini {
        padding-left: 20px;
        padding-right: 20px;
        .wrapper {
            position: relative;
            overflow: hidden;
          }
          
          .wrapper:after {
            content: '';
            display: block;
            padding-top: 100%;
          }
          
          .wrapper img {
            width: auto;
            height: 100%;
            max-width: none;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
          }

        .product-image {
            // width: 100%;
        }
    }

    .form-holder-mini {

        .product-name-mini {
            height: 30%;
            display: flex;
            justify-content: center;
            color: rgb(41, 70, 52);
            font-size: 42px;
            font-family: 'Poppins';
            font-weight: bold;

            @include md {
                font-size: 36px;
            }

            @include lg {
                font-size: 40px;
            }

            @include rwd(1400) {
                font-size: 42px;
            }
        }

        .product-form-mini {
            margin-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            font-family: 'Poppins';


            form {
                height: 100%;
            }
            label {
                font-size: 16px;
            }

            .form-control {
                padding: .2rem .5rem;
                font-size: .7rem;
                font-weight: 500;
            }

            .btn-row-mini {
                display: flex;
                justify-content: center;
                margin-top: 10px;
                padding-left: 10px;
                padding-right: 10px;
            }

            .btn {
                margin: auto;
                width: 205px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: bolder;
                font-size: 15px;
                color: rgba(102,102,102,1);
                letter-spacing: -0.1px;
                padding: 1rem 3rem;
                border-radius: 5rem;
                color: white;

            }

            #AddToWish {
                border-color: rgb(242, 208, 64);
                background-color: rgb(242, 208, 64);
                &:hover{
                    background-color: transparent;
                    box-shadow: 0 10px 20px rgba(242, 208, 64,0.2);
                }
            }

            #AddToCart {
                border-color: rgb(41, 70, 52);
                background-color:  rgb(41, 70, 52);
                &:hover{
                    background-color: transparent;
                    box-shadow: 0 10px 20px rgba(41, 70, 52,0.2);
                }
            }
        }
    }

}

.navbar-cover {
    width: 100%;
    background-color: rgb(255, 249, 239);

    @include rwd(300) {
        height: 80px;
    }

    @include md {
        height: 140px;
    }
}

.page-cover {
    width: 100%;
 
    background-color: rgb(255, 249, 239);
    display: flex;
    justify-content: center;
    align-items: center;

    @include rwd(300) {
        height: 100px;
    }

    @include md {
        height: 150px;
    }

    .page-title {
        @include rwd(300) {
            font-size: 24px;
        }

        @include sm {
            font-size: 32px;
        }

        @include md {
            font-size: 46px;
        }
        font-weight: bold;
        color: rgb(41, 70, 52);
    }
}

.collection-products {
    margin-top: 50px;
    margin-bottom: 50px;

    .product-card {
        border: none;
        background: transparent;
        .wrapper {
            position: relative;
            overflow: hidden;
          }
          
          .wrapper:after {
            content: '';
            display: block;
            padding-top: 100%;
          }
          
          .wrapper img {
            width: auto;
            height: 100%;
            max-width: none;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
          }

        .card-title-holder {
            margin-bottom: 10px;
            .card-title {
                font-size: 20px;
                font-weight: bold;
                color: rgb(41, 70, 52);
            }
        } 

        .card-desc-holder {
            font-size: 16px;
        }

        .card-price-holder {
            font-weight: lighter;
            font-size: 18px;
            color: #bf904d;
        }

    }

    .pagination {

        border-color: #294634 !important;

        .page-item {

            .page-link {
                color: #294634;
            }
        }

        .page-item.active .page-link {
            color: white;
            background-color: #294634;
            border-color: #294634;
        }

        .page-link:focus {
            box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
        }
    }
}


.blog-lists {
    margin-top: 50px;
    margin-bottom: 50px;

    .blog-post {
        margin-bottom: 20px;
        min-height: 150px;
        padding: 10px 20px;

        border-top: 1px solid rgb(102, 102, 102);
    }

    .blog-title {
        a {
            font-size: 24px;
            font-weight: bold;
            color: rgb(41, 70, 52);
        }

    }

    .blog-btn {
        margin-top: 25px;

        a {
            color: rgba(102,102,102,1);
            letter-spacing: -0.1px;
            border-color: rgb(102, 102, 102);
            &:hover{
                background-color: transparent;
                box-shadow: 0 10px 20px rgba(102, 102, 102,0.2);
            }
        }

        .btn:active:focus{
            background:#294634;
            border-color: #294634;
            box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
        }

        .btn:focus{
            box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
        }
    }
}


.article-post {
    margin-top: 50px;
    margin-bottom: 50px;
    overflow-wrap: break-word;

    .article-content {
        margin-bottom: 30px;
    }

    .article-author {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }

    .article-share {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;

        a {
            color: rgba(102,102,102,1);
            letter-spacing: -0.1px;
            border-color: #ebebeb;
            margin-left: 5px;
            font-size: 13px;
            &:hover{
                background-color: transparent;
                box-shadow: 0 10px 20px rgba(102, 102, 102,0.2);
            }

            .fa-facebook {
                color: #3b5998;
            }

            .fa-twitter {
                color: #00aced;
            }

            .fa-pinterest {
                color: #cb2027;
            }
        }

        .btn:active:focus{
            background:#294634;
            border-color: #294634;
            box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
        }

        .btn:focus{
            box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
        }

    }

    .article-back {
        display: flex;
        justify-content: flex-end;
        a {
            color: rgba(102,102,102,1);
            letter-spacing: -0.1px;
            border-color: rgb(102, 102, 102);
            &:hover{
                background-color: transparent;
                box-shadow: 0 10px 20px rgba(102, 102, 102,0.2);
            }
        }

        .btn:active:focus{
            background:#294634;
            border-color: #294634;
            box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
        }

        .btn:focus{
            box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
        }
    }
}

.cart-items {
    margin-top: 50px;
    margin-bottom: 50px;

    .cart-table {

        border-bottom: 1px solid #dee2e6;
        margin-bottom: 50px;

        .cart-table-row {
            max-height: 200px;
        }

        td {
            vertical-align: middle;
            padding-left: 20px;
            padding-right: 20px;
        }

        .cart-product-image {
            min-height: 100px;
            min-width: 150px;
        }

        .cart-product-title {

            .cart-title {
                font-size: 20px;
                font-weight: bold;
                color: rgb(41, 70, 52);
            }

            .cart-remove {
                color: black;
            }
        }

        .cart-product-price, .cart-product-total {
            color: #bf904d;
        }

        .cart-product-qty {
            min-width: 110px;
            max-width: 110px;
            .form-control {
                text-align: right;
            }
        }

        .wrapper {
            position: relative;
            overflow: hidden;
          }
          
          .wrapper:after {
            content: '';
            display: block;
            padding-top: 100%;
          }
          
          .wrapper img {
            width: auto;
            height: 100%;
            max-width: none;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
          }
    }

    .cart-subtotal {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
        p {
            font-size: 20px;
            margin-left: 50px;
        }

        .cart-subtotal-price {
            color: #bf904d;
        }
    }

    .cart-buttons {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 50px;

        .btn-primary {
            margin-left: 10px;
            border-color: rgb(41, 70, 52);
            background-color:  rgb(41, 70, 52);
            padding: .5rem 1.5rem;
            &:hover{
                background-color: #294634;
                box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
            }

        }

        .btn-primary:active:focus{
            background:#294634;
            border-color: #294634;
            box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
        }

        .btn-primary:focus{
            box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
        }

        .btn-outline-primary {
            a {
                color: rgba(102,102,102,1);
                letter-spacing: -0.1px;
            }
     
            letter-spacing: -0.1px;
            border-color: rgb(102, 102, 102);

            &:hover{
                background-color: transparent;
                box-shadow: 0 10px 20px rgba(102, 102, 102,0.2);
                border-color: rgb(102, 102, 102);
            }
        }

        .btn-outline-primary:active:focus{
            background:#294634;
            border-color: #294634;
            box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
        }

        .btn-outline-primary:focus{
            box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
        }
    }

    .cart-empty {
        .btn-outline-primary {
            a {
                color: rgba(102,102,102,1);
                letter-spacing: -0.1px;
            }
     
            letter-spacing: -0.1px;
            border-color: rgb(102, 102, 102);

            &:hover{
                background-color: transparent;
                box-shadow: 0 10px 20px rgba(102, 102, 102,0.2);
                border-color: rgb(102, 102, 102);
            }
        }

        .btn-outline-primary:active:focus{
            background:#294634;
            border-color: #294634;
            box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
        }

        .btn-outline-primary:focus{
            box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
        }
    }
}

.contact-page {
    margin-top: 50px;
    margin-bottom: 50px;


    .send-row {
        display: flex;
        justify-content: flex-end;

        .btn-primary {
            border-color: rgb(41, 70, 52);
            background-color:  rgb(41, 70, 52);
            padding: .5rem 1.5rem;
            &:hover{
                background-color: #294634;
                box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
            }

        }

        .btn-primary:active:focus{
            background:#294634;
            border-color: #294634;
            box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
        }

        .btn-primary:focus{
            box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
        }
    }

    .follow-us-row {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .follow-us-text {
            margin-right: 5px;
            font-size: 18px;
        }

        a {
            color: rgba(102,102,102,1);
            letter-spacing: -0.1px;
            border-color: #ebebeb;
            margin-left: 5px;
            font-size: 20px;
            &:hover{
                background-color: transparent;
                box-shadow: 0 10px 20px rgba(102, 102, 102,0.2);
            }

            .fa-facebook {
                color: #3b5998;
            }

            .fa-twitter {
                color: #00aced;
            }

            .fa-pinterest {
                color: #cb2027;
            }

            .fa-instagram {
                background:-moz-linear-gradient(top, #e72c83 0%, #a742c6 100%); 
                background: -webkit-linear-gradient(top, #e72c83 0%,#a742c6 100%); 
                background: linear-gradient(to bottom, #e72c83 0%,#a742c6 100%);
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
               -webkit-text-fill-color:transparent;
            }
        }

        .btn {
            width: 50px;
        }

        .btn:active:focus{
            background:#294634;
            border-color: #294634;
            box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
        }

        .btn:focus{
            box-shadow: 0 0 0 0.2rem rgba(41,70,52, 0.5);
        }
    }
}

.search-page {
    margin-top: 50px;
    margin-bottom: 50px;

    .search-form {

        @include rwd(300) {
            padding-left: 10px;
            padding-right: 10px;
        }

        @include md {
            padding-left: 100px;
            padding-right: 100px;
        }

        @include lg {
            padding-left: 250px;
            padding-right: 250px;
        }

        @include xl {
            padding-left: 300px;
            padding-right: 300px;
        }
    
        padding-bottom: 50px;
        margin-bottom: 25px;
        border-bottom: 1px solid rgb(102, 102, 102);
    }

    .search-results {

        .search-row {
            padding-bottom: 25px;
            margin-bottom: 25px;
            border-bottom: 1px solid rgb(102, 102, 102);

            .wrapper {
                position: relative;
                overflow: hidden;
              }
              
              .wrapper:after {
                content: '';
                display: block;
                padding-top: 100%;
              }
              
              .wrapper img {
                width: auto;
                height: 100%;
                max-width: none;
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
              }

            .result-image {
                min-height: 100px;
                max-height: 200px;
                min-width: 100px;
                max-width: 200px;
            }

            .result-title {
                display: flex;
                align-items: center;

                a {
                    font-weight: bold;
                    color: rgb(41, 70, 52);
                }
            }

            .result-price {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                font-weight: lighter;
                color: #bf904d;
            }
        }
    }
}








  @font-face {
      font-family: 'Poppins';
      src: url(Poppins-Regular.ttf);
  }

  body {
      font-family: 'Poppins' !important;
      background-repeat: no-repeat;
      background-image:
        url(leaf1.svg),
        url(leaf2.svg),
        url(leaf3.svg);

        @include rwd(300) {
            background-position:
            10% 5%,
            10% 65%,
            70% 88%;
            background-size:
            200%,
            200%,
            200%;
        } 

        @include sm {
            background-position:
            -30% 8%,
            10% 65%,
            90% 92%;
            background-size:
            150%,
            200%,
            150%;
        }

        @include md {
            background-position:
            500% 22%,
            -150% 45%,
            -300% 100%;
            background-size:
            90%,
            120%,
            90%;
        }

        @include rwd(1440) {
            background-position:
            140% 30%,
            230% 49%,
            -55% 93%;
            background-size:
            50%,
            75%,
            65%;
        } 

        @include rwd(2440) {
            background-position:
            140% 20%,
            230% 49%,
            -55% 93%;
            background-size:
            53%,
            75%,
            65%;
        } 


  }

  .leaf1 {
      position: absolute;
  }

  /* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(242, 208, 64, 0.5);
    border-radius: 10px;
  }








