




<!-- {% assign number_of_comments = article.comments_count %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count %}
{% endif %} -->


<div class="navbar-cover">

</div>

<div class="page-cover">
        <span class="page-title">
            {{article.title}}
        </span>
</div>

<div class="container article-post">

    <div class="article-content">{{ article.content }}</div>
    <div class="article-author">
        by {{ article.author }} @ {{ article.created_at | time_tag: format: 'date' }}
    </div>

    <div class="article-share">
        <a href="" class="btn btn-outline-primary btn-sm">
            <i class="fa fa-facebook mr-1"></i> SHARE
        </a>
        <a href="" class="btn btn-outline-primary btn-sm">
            <i class="fa fa-twitter mr-1"></i> TWEET
        </a>
        <a href="" class="btn btn-outline-primary btn-sm">
            <i class="fa fa-pinterest mr-1"></i> PIN IT
        </a>
    </div>

    <div class="article-back">
        <a href="{{ blog.url }}" class="btn btn-outline-primary">
            <i class="fa fa-long-arrow-left mr-1"></i> BACK TO NEWS
        </a>
    </div>

</div>


<!-- <h1>ASDASDSADASD{{ article.title }}</h1>
{% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
{% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>{% endcapture %}
{{ article.author }} @ {{ article.created_at }} -->





<!-- {% if blog.comments_enabled? %}
  <h2>{{ number_of_comments }} comments</h2>
  {% paginate article.comments by 5 %}
    {% for comment in article.comments %}
      <div>
        <div>{{ comment.content }}</div>
        {{ comment.author }} @ {{ comment.created_at }}
      </div>
    {% endfor %}
    {% if paginate.pages > 1 %}
      {{ paginate | default_pagination }}
    {% endif %}
  {% endpaginate %}

  <div>
    {% form 'new_comment', article %}
      {{ form.errors | default_errors }}
      <label for="CommentAuthor">name</label>
      <input type="text" name="comment[author]" id="CommentAuthor" placeholder="name" value="{{ form.author }}" autocapitalize="words">

      <label for="CommentEmail">email</label>
      <input type="email" name="comment[email]" id="CommentEmail" placeholder="email" value="{{ form.email }}" autocorrect="off" autocapitalize="off">

      <label for="CommentBody">message</label>
      <textarea name="comment[body]" id="CommentBody" placeholder="message">{{ form.body }}</textarea>

      <input type="submit" value="post">
    {% endform %}
  </div>
{% endif %} -->
