<div class="navbar-cover">

</div>

<div class="page-cover">
    <span class="page-title">
        {{blog.title}}
    </span>
</div>

<div class="container blog-lists">
    {% paginate blog.articles by 5 %}
    {% for article in blog.articles %}
    <div class="blog-post">
        <h2 class="blog-title"><a href="{{ article.url }}">{{ article.title }}</a></h2>
        {{ article.author }} @ {{ article.created_at | time_tag: format: 'date' }}
        <div class="blog-excerpt">
        {% if article.excerpt.size > 0 %}
            {{ article.excerpt }}
        {% else %}
            <p>{{ article.content | strip_html | truncatewords: 100 }}</p>
        {% endif %}
        </div>

        <div class="blog-btn">
            <a href="{{ article.url }}" class="btn btn-outline-primary">READ MORE</a>
        </div>
    
    </div>
    {% endfor %}
    

    {% if paginate.pages > 1 %}

    <ul class="pagination justify-content-end">
        <li class="page-item"><a class="page-link" href="{{ paginate.previous.url }}">Previous</a></li>
        {% for part in paginate.parts %}
              {% if paginate.current_page == part.title %}
                  <li class="page-item active">
                      <a class="page-link" href=" {{part.url}}">
                          {{ part.title }}
                      </a>
                  </li>
              {% else %}
                  <li class="page-item">
                      <a class="page-link" href=" {{part.url}}">
                          {{ part.title }}
                      </a>
                  </li>
              {% endif%}
  
       
        {% endfor %}
        <li class="page-item"><a class="page-link" href="{{ paginate.next.url }}">Next</a></li>
      </ul>
  
      {% endif %}
</div>


