<div class="navbar-cover">

</div>

<div class="page-cover">
    <span class="page-title">
        Your cart
    </span>
</div>


{% if cart.item_count > 0 %}

<div class="container cart-items">
    <form action="/cart" method="post" novalidate>
        <table class="table cart-table table-responsive-md">
          <thead>
            <th colspan="2">PRODUCT</th>
            <th class="text-right">PRICE</th>
            <th class="text-right">QTY</th>
            <th class="text-right">TOTAL</th>
          </thead>
          <tbody>
            {% for item in cart.items %}
              <tr class="cart-table-row">
                <td class="cart-product-image">
                    <div class="wrapper">
                        <a href="{{ item.url | within: collections.all }}">
                            <img src="{{ item | img_url: 'large' }}" alt="{{ item.title | escape }}">
                        </a>
                    </div>
                </td>
                <td class="cart-product-title">
                  <a class="cart-title" href="{{ item.url }}">{{ item.product.title }}</a>
                  {{ item.variant.title }}
                </br>
                  <a class="cart-remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
                </td>
                <td class="cart-product-price text-right">{{ item.price | money }}</td>
                <td class="cart-product-qty text-right">
                  <input class="form-control" type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
                </td>
                <td class="cart-product-total text-right">
                  {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
                  {{ item.line_price | money }}
                  {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="cart-subtotal">
            <p>Sub total:</p>
            <p class="cart-subtotal-price">{{ cart.total_price | money }}</p>
        </div>
        <div class="cart-buttons">
            <button class="btn btn-outline-primary">
                <a href="{{ routes.all_products_collection_url }}">
                    <i class="fa fa-long-arrow-left mr-1"></i> CONTINUE SHOPPING
                </a>
            </button>
          <button class="btn btn-primary" type="submit" name="checkout">CHECKOUT</button>
        </div>
      </form>

</div>

{% else %}
<div class="container cart-items">
    <div class="cart-empty">
        <div class="cart-empty-text">
            <h3>Your cart is currently empty.</h3>
        </div>
        <div class="cart-empty-back">
            <button class="btn btn-outline-primary">
                <a href="{{ routes.all_products_collection_url }}">
                    <i class="fa fa-long-arrow-left mr-1"></i> CONTINUE SHOPPING
                </a>
            </button>
        </div>
  
    </div>
  
</div>
{% endif %}
