
<div class="navbar-cover">

</div>

<div class="page-cover">
    <span class="page-title">
        {{collection.title}}
    </span>
</div>


{% paginate collection.products by 4 %}
<div class="container collection-products">
    <div class="row">
    {% for product in collection.products %}
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card h-100 product-card">
                <div class="wrapper">
                    <img class="card-img-top" src="{{ product.featured_image.src | img_url: 'large' }}" alt="Card image">
                </div>
                <div class="card-body">
                    <div class="card-title-holder text-center">
                       <a class="card-title" href="{{ product.url | within: collection }}">{{ product.title }}</a>
                    </div>
                    
                    <div class="card-desc-holder">
                        <p class="card-text">{{product.description}}</p>
                    </div>

                    <div class="card-price-holder">
                        {{ product.price | money }}
                        {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
                    </div>
        
                </div>
              </div>
     
     
       
            <!-- <a href="{{ product.url | within: collection }}">
              <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
            </a> -->
          </div>
        {% else %}
          <p>no matches</p>
        {% endfor %}
    </div>

    
  {% if paginate.pages > 1 %}

  <ul class="pagination justify-content-end">
      <li class="page-item"><a class="page-link" href="{{ paginate.previous.url }}">Previous</a></li>
      {% for part in paginate.parts %}
            {% if paginate.current_page == part.title %}
                <li class="page-item active">
                    <a class="page-link" href=" {{part.url}}">
                        {{ part.title }}
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href=" {{part.url}}">
                        {{ part.title }}
                    </a>
                </li>
            {% endif%}

     
      {% endfor %}
      <li class="page-item"><a class="page-link" href="{{ paginate.next.url }}">Next</a></li>
    </ul>

    {% endif %}

  </div>


{% endpaginate %}
