{% comment %} <div class="jumbotron jumbotron-fluid jumbocover">
  <div class="row vertical-center">
    <div class="col-md-8">
        <h1 class="display-1">Disposable and Ecofriendly Products</h1>    
    </div>
    <div class="col-md-4">
       
    </div>
  </div>
</div> {% endcomment %}
{% section 'homepage-cover' %}

{% section 'section-divider' %}

    <div class="featured-title mt-4 mb-5">
        <h1 class="display-3 display-text text-center">Featured Products</h1>    
    </div>

{% section 'featured-slideshow' %}

{% section 'section-divider' %}
{% section 'section-divider' %}

{% section 'product-categories' %}

{% section 'section-divider' %}
{% section 'section-divider' %}

{% section 'reviews-slideshow' %}

{% section 'section-divider' %}

  {% comment %} <a href="/cart">cart</a> {% endcomment %}






