<div class="navbar-cover">

</div>

<div class="page-cover">
    <span class="page-title">
        {{ page.title }}
    </span>
</div>

<div class="container contact-page">
    {% form 'contact' %}
    {% if form.posted_successfully? %} Thank you for your contact {% endif %}
    {{ form.errors | default_errors }}
    <form>
        <div class="form-row mb-4">
            <div class="col-4">
                <label for="ContactFormName">name</label>
                <input class="form-control" type="text" id="ContactFormName" name="contact[name]">
            </div>
            <div class="col-4">
                <label for="ContactFormEmail">email</label>
                <input class="form-control" type="email" id="ContactFormEmail" name="contact[email]">
            </div>
            <div class="col-4">
                <label for="ContactFormPhone">phone</label>
                <input class="form-control" type="tel" id="ContactFormPhone" name="contact[phone]">
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col-12">
                <label for="ContactFormMessage">message</label>
                <textarea class="form-control" rows="10" id="ContactFormMessage" name="contact[body]"></textarea>
            </div>
        </div>

        <div class="form-row send-row mb-4">
            <button class="btn btn-primary" type="submit">SEND</button>
        </div>

        <div class="form-row follow-us-row">
            <span class="follow-us-text">
                Follow us
            </span>
            <a href="" class="btn btn-outline-primary btn-sm">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="" class="btn btn-outline-primary btn-sm">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="" class="btn btn-outline-primary btn-sm">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
    </form>
  {% endform %}
</div>



