{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<div class="product-cover">
    
</div>


<div class="container product-container">
    <div class="product-image-holder">
        <div class="wrapper">
            <img class="product-image" src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
        </div>
    </div>
    <div class="form-holder">
        <div class="product-name">
            <span>
                {{ product.title }}
            </span>
        </div>
        <div class="product-form">
            <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
                <div class="form-row mb-2">
                    <div class="col-3">
                        <label for="">Variant: </label>
                    </div>
                    <div class="col-8 offset-1">
                        <select name="id" id="productSelect" class="form-control">
                            {% for variant in product.variants %}
                              {% if variant.available %}
                                <option value="{{ variant.id }}">
                                  {{ variant.title }} - {{ variant.price | money_with_currency }}
                                </option>
                              {% else %}
                                <option disabled="disabled">
                                  {{ variant.title }} - sold out
                                </option>
                              {% endif %}
                            {% endfor %}
                          </select>
                    </div>
              

                </div>
                <div class="form-row mb-2">
                    <div class="col-3">
                        <label for="Quantity">Quantity: </label>
                    </div>
                    <div class="col-8 offset-1">
                        <input type="number" id="Quantity" name="quantity" value="1" min="1" class="form-control">
                    </div>
            
                </div>
                <div class="form-row submit-row">
                        <button class="btn btn-outline-primary" id="AddToWish">Add to wishlist</button>
                        <button class="btn btn-outline-primary" type="submit" name="add" id="AddToCart">Add to cart</button>
                </div>
              
            </form>
        </div>

    </div>

</div>

<div class="product-container-mini">
    <div class="product-image-holder-mini">
        <div class="wrapper">
            <img class="product-image" src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
        </div>
    </div>
    <div class="form-holder-mini">
        <div class="product-name-mini">
            <span>
                {{ product.title }}
            </span>
        </div>
        <div class="product-form-mini">
            <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
                <div class="form-row mb-2">
                    <div class="col-3">
                        <label for="">Variant: </label>
                    </div>
                    <div class="col-8 offset-1">
                        <select name="id" id="productSelect" class="form-control input-sm">
                            {% for variant in product.variants %}
                              {% if variant.available %}
                                <option value="{{ variant.id }}">
                                  {{ variant.title }} - {{ variant.price | money_with_currency }}
                                </option>
                              {% else %}
                                <option disabled="disabled">
                                  {{ variant.title }} - sold out
                                </option>
                              {% endif %}
                            {% endfor %}
                          </select>
                    </div>
              

                </div>
                <div class="form-row mb-2">
                    <div class="col-3">
                        <label for="Quantity">Quantity: </label>
                    </div>
                    <div class="col-8 offset-1">
                        <input type="number" id="Quantity" name="quantity" value="1" min="1" class="form-control input-sm">
                    </div>
            
                </div>
                <div class="form-row btn-row-mini">
                    <button class="btn btn-primary" id="AddToWish">Add to wishlist</button>
                </div>
                <div class="form-row btn-row-mini">
                    <button class="btn btn-primary" type="submit" name="add" id="AddToCart">Add to cart</button>
                </div>
              
            </form>
        </div>

    </div>

</div>

<script> 
    var leaf1Asset = "{{ 'leaf1.svg' | asset_url }}";
    var leaf3Asset = "{{ 'leaf3.svg' | asset_url }}";
</script>






<!-- <br>
{% for image in product.images %}
  <a href="{{ image.src | img_url: 'small' }}">
    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
  </a>
{% endfor %}
<h1>{{ product.title }}</h1> <h1>{{ product.title }}</h1>
<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
  <select name="id" id="productSelect">
    {% for variant in product.variants %}
      {% if variant.available %}
        <option value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - sold out
        </option>
      {% endif %}
    {% endfor %}
  </select>
  {{ current_variant.price | money }}
  <label for="Quantity">quantity</label>
  <input type="number" id="Quantity" name="quantity" value="1" min="1">
  <button type="submit" name="add" id="AddToCart">Add to cart</button>
</form>
<div>{{ product.description }}</div> -->
