
<div class="navbar-cover">

</div>

<div class="page-cover">
    <span class="page-title">
       {{search.results_count}} RESULTS FOR "{{ search.terms | upcase}}"
    </span>
</div>



{% paginate search.results by 10 %}

    <div class="container search-page">
        <div class="search-form">
            <form action="/search" method="get" role="search">
                <div class="form-row">
                    <div class="col-12">
                        <div class="input-group">
                            <input type="search" name="q" value="{{ search.terms | escape }}" class="form-control"/>
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <input type="search" name="q" value="{{ search.terms | escape }}">
                <button type="submit">search</button> -->
            </form>
        </div>

        <div class="search-results">
            {% if search.performed %}
            {% for item in search.results %}
                <div class="row search-row">
                    {% if item.featured_image %}
                        <div class="col-4 col-md-2">
                            <div class="wrapper">
                                <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
                                    <img src="{{ item | img_url: 'large' }}" alt="{{ item.title | escape }}">
                                </a>
                            </div>
                        </div>

                        <div class="col-3 result-title">
                            <span class="">
                                {{ item.title | link_to: item.url }}
                            </span>
                        </div>

                        <div class="col-2 offset-3 offset-md-5 result-price">
                            <span class="">
                
                                {{ item.price | money }}
                          
                            </span>
                        </div>
                    {% endif %}
                </div>
            {% else %}
              no results
            {% endfor %}
          {% endif %}
        </div>
    </div>
  

  {% if paginate.pages > 1 %}{{ paginate | default_pagination }}{% endif %}
{% endpaginate %}
